
*
{
    font-family: "Segoe UI", Sans-Serif;
    font-size: 12pt;
    
    background-color: transparent;
    
    display: -clan-box;
    -clan-box-direction: vertical;
}

.root
{
    background-color: gray;
}

ribbon
{
    -clan-box-direction: vertical;
    width: -clan-expanding;
    height: -clan-shrink-to-fit;
    min-height: 117px;
    border-style: solid;
    border-width: 50px 8px 8px 8px;
    border-image: url('res:Ribbon') 50 8 8 8 fill;
}

ribbon-header
{
    -clan-box-direction: horizontal;
    width: -clan-expanding;
    height: 23px;
/*
    border-style: solid;
    border-width: 22px 120px 0px 120px;
    border-image: url('res:RibbonTabBackground') 22 120 0 120 fill;
*/
    background-color: #e1e6f6;
}

ribbon-menu-button
{
    width: 56px;
    height: 22px;
    border-style: solid;
    border-width: 0px;
    border-image: url('res:RibbonMenuButton') 0 fill;
}

ribbon-menu-button:hot
{
    border-image-source: url('res:RibbonMenuButtonHot');
}

ribbon-tab
{
    width: -clan-shrink-to-fit;
    height: -clan-expanding;
    min-width: 50px;
}

ribbon-tab:selected
{
    border-style: solid;
    border-width: 8px;
    border-image: url('res:RibbonTab') 8 fill;
}

ribbon-page
{
    -clan-box-direction: horizontal;
    width: -clan-expanding;
    height: -clan-shrink-to-fit;
}

ribbon-section
{
    border-style: solid;
    border-width: 24px 8px 16px 8px;
    border-image: url('res:RibbonSection') 24 8 16 8 fill;
}

ribbon-section button
{
    border-style: none;
    border-width: 4px;
}

ribbon-section button:hot, ribbon-section button:toggled:hot
{
    border-style: solid;
    border-image: url('res:RibbonButtonHot') 1 8 fill;
}

ribbon-section button:pressed, ribbon-section button:toggled:pressed:hot
{
    border-style: solid;
    border-image: url('res:RibbonButtonPressed') 1 8 fill;
}

ribbon-section button:toggled
{
    border-style: solid;
    border-image: url('res:RibbonButtonToggled') 1 8 fill;
}
