
*
{
    font-family: "Segoe UI", Sans-Serif;
    font-size: 11pt;
    
    background-color: transparent;
    
    display: -clan-box;
    -clan-box-direction: vertical;
}

.root
{
    background-color: gray;
}

ribbon
{
    -clan-box-direction: vertical;
    -clan-box-width-shrink-factor: 1;
    -clan-box-width-expand-factor: 1;
    -clan-box-height-shrink-factor: 0;
    -clan-box-height-expand-factor: 0;
    height: 117px;
    border-image: url('res:Ribbon') 50 8 8 8 fill / 50px 8px 8px 8px;
}

ribbon-header
{
    -clan-box-direction: horizontal;
    -clan-box-width-expand-factor: 1;
   
    height: 23px;

/*  border-image: url('res:RibbonTabBackground') 22 120 0 120 fill / 22px 120px 0px 120px;*/

    background-color: #e1e6f6;
    border-image: url('res:Ribbon') 23 0 0 0 fill / 23px 0px 0px 0px;
}

ribbon-menu-button
{
    width: 56px;
    height: 22px;
    border-image: url('res:RibbonMenuButton') 0 fill;
}

ribbon-menu-button:hot
{
    border-image-source: url('res:RibbonMenuButtonHot');
}

ribbon-tab
{
    height: 23px;
    min-width: 30px;
    -clan-box-direction: horizontal;
}

ribbon-tab:selected
{
    border-image: url('res:RibbonTab') 8 fill / 8px;
}

ribbon-page
{
    -clan-box-direction: horizontal;
    -clan-box-width-shrink-factor: 1;
    -clan-box-width-expand-factor: 1;
    -clan-box-height-shrink-factor: 1;
    -clan-box-height-expand-factor: 1;
}

ribbon-section
{
    -clan-box-height-shrink-factor: 1;
    -clan-box-height-expand-factor: 1;
    border-image: url('res:RibbonSection') 24 8 16 8 fill / 24px 8px 16px 8px;
    min-width: 40px;
}

ribbon-section button
{
    border-style: none;
    border-width: 4px;
    
    width: 75px;
    height: 22px;
}

ribbon-section button:hot, ribbon-section button:toggled:hot
{
    border-style: solid;
    border-image: url('res:RibbonButtonHot') 1 8 fill;
}

ribbon-section button:pressed, ribbon-section button:toggled:pressed:hot
{
    border-style: solid;
    border-image: url('res:RibbonButtonPressed') 1 8 fill;
}

ribbon-section button:toggled
{
    border-style: solid;
    border-image: url('res:RibbonButtonToggled') 1 8 fill;
}

.test1
{
    background-color: #aa0000;
    width: 100px;
    height: 100px;
}
.test1:hot
{
    background-color: #ff0000;
}
.test2
{
    background-color: #00aa00;
    width: 80px;
    height: 80px;
}
.test2:hot
{
    background-color: #00ff00;
}
.test3
{
    background-color: #0000aa;
    width: 50px;
    height: 50px;
}
.test3:hot
{
    background-color: #0000ff;
}

label.imagelabel
{
    background: #ffff80;
    -clan-box-width-shrink-factor: 1;
    -clan-box-width-expand-factor: 1;
    min-width: 130px;
    max-height: 220px;
    margin: 5px;
}

.imagecontainer
{
    -clan-box-direction: horizontal;
    -clan-box-width-shrink-factor: 1;
    -clan-box-width-expand-factor: 0;
    background: green;
}

imageview
{
    background-color: #ffff80;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    margin: 2px;
}

imageview.odd 
{
    background-color: #ffffc0;
}

imageview.fixedwidth
{
    width: 100px;
}

imageview.autoheight
{
    height: auto;
}

imageview.fixedheight 
{
    height: 100px;
}

imageview:hot 
{
    background-color: #ffffff;
}
