.nb{border:0}.nl{list-style:none;display:inline;margin-left:8px}a[href$=".pdf"]{background:url("/images/pdf.gif") center right no-repeat;padding-right:18px}#wrapper{width:985px}#links{display:inline;float:left;padding:0px;margin:0px;clear:none}#links
li{list-style-type:square;padding-left:7px;display:inline}.d img, #hm img, #asdfvdf img ,#topx
img{border:0
!important}#sidebar-account-ul,.sidebar-ul{display:inline;padding:0;margin:0}#sidebar-account-ul,.sidebar-ul
li{margin:0;padding:0;list-style:square inside}.cdetails
a.parent{background:url(/images/parent.png) no-repeat;padding-left:18px;text-decoration:none;margin-left:5px;font-weight:bold}.sbdetails{display:block;padding-left:10px}.curs{cursor:pointer}.nostyle{border:0
!important;padding:0
!important;margin:0
!important}#indexbox{width:85%;margin:auto;background-color:#ddd;background:#F5FCED;border:1px
solid #999;text-align:center !important;margin-bottom:10px;padding:5px;position:relative}#indexbox
#closex{z-index:2;float:right;top:1px !important;right:1px !important;border:0}#indexbox
table{text-align:center !important;padding:0
10px}#indexbox
td{width:140px}#indexbox
a{display:inline;text-decoration:none;color:#000}#indexbox
img{display:inline;border:1px
solid #ccc;position:relative}#indexbox
.nbsp{width:5px !important}.indexboxtxt{width:140px;background-color:#ccc;color:#000;font-weight:bold;border:1px
solid #ccc}#flashPlayer{text-align:center}html{margin:0;padding:0;border:0
none;height:auto;font-size:12px;background-repeat:repeat-x;margin-right:auto;margin-left:auto}#wrapper{margin-left:auto;margin-right:auto}a{color:#000}a
img{border:0px}a:hover{color:#d66d1b}#navdiv{margin-right:auto;margin-left:auto;padding-bottom:15px}#navdiv
a{margin-left:10px;margin-right:10px;padding:3px;border:1px
solid black;font-family:arial;font-weight:bold}#navdiv a:hover{background-color:#d66d1b;color:#fff;font-weight:bold}#sidebar
a{color:#333;text-decoration:none}#sidebar a:hover{color:#d66d1b}.boxheader{font-size:105%;font-weight:bold;color:#d66d1b;margin:0;padding:0;text-decoration:underline;margin-top:15px}.boxcontent{margin:0;padding:0;color:#333;font-size:95%;padding-top:5px}.boxcontent
a{color:#d66d1b;font-weight:bold}.secheader{display:block;background-color:#ddd;font-weight:bold;font-family:tahoma;border:1px
solid black;padding:5px}.navigation{margin-left:auto;margin-right:auto;width:75%;margin-bottom:10px;font-weight:bold}#user-comment-list{text-align:center}.user-comment-list-item{padding-left:10px;text-align:left;font-size:12px;font-family:arial,verdana,arial;margin-bottom:5px;border-bottom:1px solid #aaa;margin-bottom:10px;padding-bottom:10px}.message{text-align:center;margin-left:auto;margin-right:auto;font-weight:bold;margin-bottom:20px;clear:both;display:block}#submenu{width:98%;margin-left:auto;margin-right:auto;min-height:15px;font-weight:bold;padding:5px;text-align:left;font-size:105%;font-family:arial,tahoma,verdana,arial;border:1px
solid #aaa;background-color:#ddd;margin-bottom:0px}#submenu
a{color:#000;text-decoration:none}.story-title-pagetitle{font-weight:bold;color:#000;font-size:120%;text-decoration:underline;padding-bottom:10px}.topicdiv{float:left;clear:none;display:inline;border:0px;font-family:arial,tahoma,helvetica;font-size:11px;font-weight:bold;padding:5px;margin:0px
3px;margin-bottom:15px;text-align:center;min-width:170px;border:1px
solid #bbb}.resourcediv{float:left;clear:none;display:inline;border:1px
solid #bbb;font-family:arial,tahoma,helvetica;font-size:11px;font-weight:bold;padding:5px;margin:0px
3px;margin-bottom:15px;text-align:center;width:47%;text-align:justify}.submitcellL{text-align:right;background-color:#c0ccc0;font-size:11px;font-family:arial}.submitcellR{text-align:left;background-color:#eee;font-size:11px;font-family:arial;color:#000}#submit{position:absolute;top:10px;right:59px;display:inline;clear:none}#feedbox{margin-top:5px}.faqtitle{font-size:120%;font-weight:bold}.pagetitle{text-align:center;margin-left:auto;margin-right:auto;font-weight:bolder;margin-bottom:20px;font-size:120%;color:#d66d1b}.csshide{display:none}.friend{color:#009}.fan{color:#090}#searchExpl{padding:10px;font-weight:bold;color:#333;font-family:arial,verdana}.tdtab,.activetab{border-top:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding-left:12px;padding-right:12px}.tdtab
a{font-weight:bold;color:#000;text-decoration:none}.tdtab a:hover{text-decoration:underline}.mw130{width:130px;max-width:130px}.activetab
a{font-weight:bold;color:#d66d1b;text-decoration:none}.udtab,.activeudtab{border-bottom:1px solid #000;border-left:1px solid #000;border-right:1px solid #000;padding-left:12px;padding-right:12px}.udtab
a{font-weight:bold;color:#000;text-decoration:none}.udtab a:hover{text-decoration:underline}#navdiv2{padding-top:20px}.pmessage-unread, .pmessage-unread
a{color:#d66d1b;font-weight:bold}.pmessage-read,.pmessage-read
a{color:#777}.pg{width:170px;margin-top:15px;margin-bottom:15px;display:block !important}.pg
td{border:1px
solid #bbb;display:block !important;text-align:center}.pg
a{color:#050 !important}.pg a:hover{color:#d66d1b !important;text-decoration:underline !important}.pg
b{background-color:#bbb;color:#000;text-align:center;display:block}.pg
strong{background-color:#aaa;color:#000;display:block;font-weight:bolder;font-size:13px}ul#tabnav{text-align:left;margin:1em
0 1em 0;border-bottom:2px solid #e55300;list-style-type:none;padding:3px
10px 3px 10px}ul#tabnav2{text-align:left;margin:1em
0 0 0;border-bottom:2px solid #e55300;list-style-type:none;padding:3px
10px 3px 10px}ul#tabnav li,ul#tabnav2
li{display:inline}ul#tabnav a,ul#tabnav2
a{text-decoration:none;font-weight:bold;position:relative;padding:4px
20px 3px 10px;border:2px
solid #e55300;margin-right:5px;border-bottom:2px solid #fff;-moz-border-radius-topright:6px;-moz-border-radius-topleft:6px;-webkit-border-top-right-radius:6px;-webkit-border-top-left-radius:6px}.tabon{background:#fff;border-bottom:2px solid #fff;color:#222 !important}.taboff{color:#e55300 !important;border-bottom:2px solid #e55300 !important}a.taboff:hover{background:#e55300 url(/images/styles/leftnav_bkg.gif) bottom right no-repeat !important;color:#fff !important}.ajaxLoading{background:#fff url(/images/ajax.gif) middle left no-repeat !important}#indicator{display:none}.item2{padding:10px
15px 10px 15px;font-family:arial,tahoma,sans-serif;margin-bottom:15px}.item1,.item{padding:10px
15px 10px 15px;font-family:arial,tahoma,sans-serif;background-color:#f0f0f0;border:1px
solid #e6e6e6;margin-bottom:15px}.otitle1,.newstitle1,.newstitle2,.collapsedtitle,.p2title{font-size:17px;font-weight:bolder}.otitle1 img,.newstitle1 img,.newstitle2 img,.newsfooter1 img,.newsfooter2 .p2title
img{border:0}.otitle1
a{color:#d66d1b}.p2title
a{color:#494949;text-decoration:none}.newstitle1 a,.newstitle2
a{color:#050;text-decoration:none}.collapsedtitle
a{color:#333;text-decoration:none}.collapsedtitle a:hover{color:#999;text-decoration:none}.newstitle1 a:hover,.newstitle2 a:hover{color:#d66d1b}.newssubheader1,.newssubheader2{color:#666;font-size:11px;padding:2px}.newscontent1,.newscontent2{text-align:left;color:#333}.newscontent1 a, .newscontent2
a{color:#050;text-decoration:underline}.newscontent1 a:hover, .newscontent2 a:hover{text-decoration:underline}.newscontent1 dt,.newscontent2
dt{padding:4px
0px;font-weight:bold}.newscontent1 dt:before, .newscontent2 dt:before{content:url(/images/bullet.png)}.timg{border:1px
solid #888;margin:5px;margin-bottom:2px;padding:2px;position:relative}.newscontent1 img,.newscontent2
img{margin:5px;margin-bottom:2px;position:relative}.newsfooter1,.newsfooter2{text-align:left;width:100%;font-size:11px;clear:both}.newsfooter1 a,.newsfooter2
a{color:#333;text-decoration:none}.newstag{color:#d66d1b !important}.headline{padding-bottom:10px}#commentblock{width:100%}#messageblock{width:90%;font-weight:bold;margin-right:auto;margin-left:auto;margin-top:20px;margin-bottom:20px;padding:3px;font-size:12px;border:1px
solid #000}#messageblock a:hover{color:#d66d1b}#commenttopbar{font-family:tahoma,verdana,arial;font-size:10px;border:1px
solid #aaa;background:#ddd url(/css/v4.1/comment1024.gif) repeat;text-align:center;width:90%;margin-right:auto;margin-left:auto;margin-bottom:17px;margin-top:35px;padding-top:5px;padding-bottom:3px;min-height:20px;color:#fff}.pcomment{display:block;clear:both;text-align:center}.commentcount, .commentcount
a{font-weight:bold !important;color:#050 !important}.readmore, .readmore
a{font-weight:bold !important;color:#e55300 !important}#changeview{display:inline;text-align:center}.reply{background:url(http://osnews.com/images/replyarrow.gif) no-repeat}.ccode{display:block;background:url(http://osnews.com/images/ccode.png) no-repeat;background-color:#eee;border:1px
solid #bbb;padding-left:47px;padding-right:5px;padding-top:3px;padding-bottom:0px;margin-bottom:0;margin-left:auto;margin-right:auto}.cquote{display:block;background:url(http://osnews.com/images/q.png) no-repeat;background-color:#eee;border:1px
solid #bbb;padding-left:35px;padding-right:5px;padding-top:3px;padding-bottom:0px;margin-bottom:0;margin-left:auto;margin-right:auto}.cquote
img{border:1px
solid #bbb}.thread{display:block;clear:both;border:0px;margin-bottom:10px;font-size:12px;font-family:arial,helvetica,verdana}.comment,.off{display:block;clear:both;border:0px
solid red;margin-bottom:15px;padding-bottom:15px;margin-top:15px;font-size:13px;line-height:1.25em !important;font-family:arial,helvetica,sans-serif}.comment
.comment_title{border:1px
solid #aaa;background:#ddd url(/css/v4.1/comment1024.gif) repeat;padding-left:15px;color:#fff !important;padding:3px;font-size:14px;font-weight:bold}.comment
.friendcomment{border:1px
solid #aaa;background:url(http://jobs.osnews.com/images/bg.png);padding-left:15px;color:#000;padding:3px;font-size:14px;font-weight:bold}.comment
.fancomment{border:1px
solid #aaa;background:url(/images/fanback.jpg) repeat;background-repeat:repeat;padding-left:15px;color:#000;padding:3px;font-size:14px;font-weight:bold}.mutualfcomment{border:1px
solid #aaa;background:url(/images/mutualback.jpg) repeat;padding-left:15px;color:#000;padding:3px;font-size:14px;font-weight:bold}.mine{border:1px
solid #aaa;background:#abc53f;padding-left:15px;color:#fff !important;padding:3px;font-size:14px;font-weight:bold;background:#abc53f}.mine
a{color:#000 !important}.off
.comment_title{border:1px
solid #aaa;padding-left:15px;color:#aaa;padding:3px;font-size:14px;font-weight:bold}.ignored
.comment_title{border:1px
solid #900;padding-left:15px;color:#aaa;padding:3px;font-size:14px;font-weight:bold}.comuser{color:#000;font-size:11px}.comment_title
.comuser{color:#ddd}.comops{display:inline;clear:none;float:left;border-right:0px solid #000;min-width:75px;max-width:20%;padding-right:10px;font-size:11px;color:#333}.comops
a{cursor:pointer}.comcontent{width:80%;display:inline;clear:none;float:left;border:0px
solid blue;margin-bottom:10px;color:#333}.comops
ul{margin-left:0;padding-left:0}.comops ul
li{list-style-type:none;padding:0px
0px 5px 0px}.off .comment_title a, .off .comuser, .off .comuser a,{color:#aaa}.comment .comment_title ,.comment .comment_title
a{color:#fff !important}.cdetails{border-top:1px solid #888;padding:3px
0px;font-size:12px;font-family:arial,helvetica}.cdetails a.reply,.cpng{background:url(/images/comment.png) no-repeat;padding-left:18px;text-decoration:none;margin-left:5px;font-weight:bold;cursor:pointer}.cdetails
a.edit{background:url(/images/edit.gif) no-repeat;padding-left:18px;text-decoration:none;margin-left:5px;font-weight:bold;cursor:pointer}.cdetails
a.permalink{background:url(/images/link.png) no-repeat;padding-left:18px;text-decoration:none;margin-left:5px;font-weight:bold;cursor:pointer}.cdetails
a.bookmark{background:url(/images/heart_add.png) no-repeat;padding-left:18px;padding-bottom:2px;text-decoration:none;margin-left:5px;font-weight:bold;cursor:pointer}.cdetails
.score{padding-bottom:3px;text-decoration:none;margin-left:5px;font-weight:bold;cursor:pointer}.comoverflow{text-align:right;float:right;font-size:11px;font-family:arial,helvetica;padding-bottom:15px;display:block;clear:both}.postnav{margin-top:5px;margin-bottom:5px;display:block;padding:2px}.postnav a,#mainmenu
a{border:1px
solid #666;color:#666;padding:2px;display:inline;font-weight:bold;text-decoration:none}.postnav a:hover, #mainmenu a:hover{border:1px
solid black;background-color:#ff9;padding:2px;color:#000;text-decoration:none}.thispost{border:1px
solid #fff;background-color:#fff;padding:2px;color:#036;font-weight:bold;text-decoration:none}.newmodsys{clear:none;padding-left:10px}#header
*{margin:0;padding:0;border:none;vertical-align:baseline;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit}body{width:957px;margin:0
auto;background:#fcfcfc url("/css/v4.1/body-bg.png") repeat-x;font:normal 13px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#333}a{color:#000}a:hover{color:#e55300;text-decoration:underline}a:active,a:focus{outline:none}a
img{border:none}cite{font-style:normal}#header{padding:10px
0 10px;background:url('/css/v4.1/header-bg2.png') no-repeat}#header
h1{float:left;height:76px;padding-top:10px}#header h1
a{display:block;width:176px;height:69px;text-indent: -999px;background:transparent url("/images/styles/logo.gif") no-repeat left bottom}legend
span{display:block}#header
fieldset{width:100%}#header
legend{padding:3px
8px;font-size:11px;color:#fff;#margin-left: -7px;_margin-right: -7px}#header
p{font-size:9px}#header
a{color:#c1c1c1;text-decoration:none}#search{float:right;width:210px}#search
legend{background-color:#8dc000}#search legend
span{width:194px}#login{float:right;width:319px;color:white;margin-left:8px}#login
legend{background-color:#e55300}#login legend
span{width:303px}#register{position:absolute;text-align:right;font-size:10px;line-height:13px}#register
a{color:#ffac6d}#myavatar, #login
.left{float:left;margin-top:5px}#myavatar{margin-right:10px}#myavatar
img{border:1px
solid #d56d1b}#login
ul{float:right;width:125px;height:21px;margin:16px
0 0 14px;padding:4px
0;border:1px
solid #aaa;list-style:none;font-size:12px;font-weight:bold;background:#555 url("/images/styles/box_go_dark.gif") repeat-y}#login ul
a{padding-left:8px;text-decoration:none;color:white}#login ul
ol{display:none;position:absolute;width:125px;border:1px
solid #aaa;list-style:none;font-size:12px;line-height:18px;color:#000;background:#555 url("/images/styles/box_go_dark.gif") repeat-y}#login ul:hover
ol{display:block}#login ol
a{display:block;width:100%;padding:2px
0;text-indent:3px;text-decoration:none;font-weight:bold;color:#fff}#login ol a:hover{color:#fff;background:url("/images/styles/leftnav_bkg.gif") no-repeat bottom right}#header
input{margin:5px
0 4px 0;vertical-align:top}#header
label{position:absolute;margin-top:27px;color:white}#q,#username{width:150px}#password{width:100px}#q,#username,#password{height:13px;margin-right:5px !important;color:#666;padding:2px;font-size:10px;border:0;border-bottom:1px solid #ccc;background-color:#eee;#margin-top: 4px !important;#padding-bottom: 1px}#q:focus,#q:active,#q:hover,#username:focus,#username:active,#username:hover,#password:focus,#password:active,#password:hover{color:black;background-color:#fcfcfc}#submit-search,#login_btn{width:51px;height:18px;padding:0
5px 0 5px;cursor:pointer;line-height:15px;font-size:0.85em;text-transform:uppercase;color:white;letter-spacing:1px}#submit-search{border:1px
outset #ade020 !important;background-color:#8dc000}#login_btn{border:1px
outset #ff7320 !important;background-color:#e55300}#submit-search:hover{background-color:#ade020}#login_btn:hover{background-color:#ff7320}#submit-search:active,#login_btn:active{border-style:inset !important}#menu{clear:left}#menu
ul{list-style:none;height:31px}#menu
li{float:left}#nav1{margin-bottom:10px}#nav1
li{padding:6px
4px}#nav1
a{color:#e5e5e5;font-weight:bold}#nav1 a:hover{color:#8dc000;text-decoration:none}#topnav_admin
a{color:#e55300}#nav2{float:right;text-align:right}#nav2
li{padding:6px
0 0 8px}#nav2
a{color:#fff;font-size:11px}#rss{border-width:1px;padding:1px
4px 1px 3px;font:bold 8px Verdana !important;border-style:solid;border-color:#f79c5d #973d00 #973d00 #f79c5d;background-color:#ff6300}#comic{float:left;width:220px;height:88px;margin-bottom:12px}#comic
img{border:1px
solid #666}#comic
em{float:left;position:absolute;padding:2px
6px;font-style:normal;font-size:10px;border:1px
solid;border-color:#fcfcfc #666 #666 #fcfcfc;background-color:#fcfcfc;-moz-border-radius-bottomright:5px;-webkit-border-bottom-right-radius:5px}#comic
a{color:#8dc000}#header
.ad{margin-left:auto;margin-right:auto;width:728px;height:90px;background-color:#dfdfdf;border:0}#main{float:left;clear:left;width:598px;margin-bottom:25px}#sidebar{float:right;width:336px;padding-left:10px;border-left:2px dotted #e2e2e2}#sidebar
.ad{width:336px;height:280px;background-color:#dfdfdf}#footer{clear:both;width:100%;padding-top:15px;text-align:center;font-size:11px;color:#6f6f6f}#footer
a{color:#111}.deputy{color:#8dc000;font-weight:bold;text-decoration:none}a.deputy:hover{text-decoration:underline}a.shorturl{margin-left:5px;color:#e55300 !important;font-weight:bold !important;display:none}.newsfooter
a.commentcount{color:#555;text-decoration:none}.commentcount{color:#555 !important;text-decoration:none}a:hover,a.sfhover{text-decoration:underline}img{border:0px}.pagetitle{font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:32px;color:#555;padding:0px;margin:0px;text-align:left}.activetab a,.newstag,.orange{color:#e55300 !important}hr{border:none;border:#555 1px solid}h3{font-family:Arial,Helvetica,sans-serif;font-weight:bold;font-size:11px;color:#fff;background:url(/images/styles/h3_bkg.gif) #555;margin-top:0px;padding:5px}.pad{min-width:10px;padding:6px
9px}#right_promo_box{width:335px;height:280px;background-color:#e5e5e5;margin:15px
0px 0px 0px}#left_promo_box{width:160px;height:600px;background-color:#e5e5e5;margin:10px
0px}#top_promo_box{width:735px;overflow:hidden;height:110px;background:url(/images/styles/top_promo_bkg.gif) top left no-repeat;float:right;padding:10px
0px 10px 10px;margin-right: -4px}#subscriber_box{width:735px;height:110px;float:right;padding:10px
0px 10px 10px;margin-right: -4px}#left_col{width:160px;margin-right:10px;float:left}#sidebar
a{font-weight:bold;font-size:12px}#sidebar
hr.dotted{padding:0px;margin:3px
0px}#sidebar h4, .boxheader,.boxheader2, #sponsored_links
h4{color:#fff;background:url(/images/styles/leftnav_bkg.gif) bottom right no-repeat;font-weight:bold;font-size:14px;padding:5px;text-decoration:none}.boxheader a,.boxheader2
a{font-style:italic;color:#fff !important;font-weight:bold;font-size:14px !important;text-decoration:none}.boxheader a:hover,.boxheader2 a:hover{text-decoration:underline !important}#sidebar #recent_conversations h4,.boxheader{background-color:#abc53f}.boxheader2{background-color:#e55300}#sidebar #sponsored_links
h4{background:#555 url(/images/styles/sponsored_links_bkg.gif) repeat-y !important}#sidebar
#search_box{background:#555 url(/images/styles/box_go_dark.gif) repeat-y top left;padding:5px
10px;margin:0px
0px 5px 0px}#sidebar
p{padding:0px
0px 0px 5px;margin:0px;font-size:11px}#sidebar #search_box h5, #search_box
.boxheader{background-color:#abc53f;color:#fff;font-size:14px;font-weight:bold;padding:5px
10px;margin:-5px -10px}#sidebar #search_box
input{margin-top:10px}#sidebar #search_box
a{color:#ccc;font-weight:normal;padding:0px;font-size:10px}#pageswitcher{background:#fff;border:2px
solid #e55300;border-top:0;padding:3px
5px;-moz-border-radius-bottomleft:6px;-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-webkit-border-bottom-left-radius:6px}.obox{background:#fff;border:2px
solid #e55300;padding:0;-webkit-border-radius:6px;-moz-border-radius:6px;text-align:left;margin-left:5px}.obox
h2{background:#e55300;color:#fff;font-size:14px;padding:0;margin:0;padding:3px}#psbox{margin-bottom:10px}#home
#main{float:left;width:445px}#leftnav{list-style:none none;margin:-5px 0px 0px 0px;padding:0px;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-weight:bold}#leftnav
li{background:#fff;color:#fff;margin:0px;padding:5px
0px;border-bottom:1px dotted #999}#leftnav li a:hover, #leftnav li
a.sfhover{background-color:#94ab35}#leftnav li
a{color:#fff;text-decoration:none;display:block;background:#abc53f url(/images/styles/leftnav_bkg.gif) bottom right no-repeat;padding:5px
10px}#leftnav li
ul{margin:0px;padding:5px
0px;list-style-image:url(/images/styles/leftnav_bullet.gif);list-style-position:inside}#leftnav li ul
li{border:0px;width:130px;margin-left:5px;padding:0px;font-weight:normal}#leftnav li ul li
a{background:#fff;color:#abc53f;padding:0px;width:110px;margin:0px;display:inline;font-weight:normal}#leftnav li ul li a:hover, #leftnav li ul li
a.sfhover{background:#fff;color:#94ab35}hr.dotted{border:none;border-top:1px dotted #999;margin:0px
0px 0px 0px;padding:0px}hr.dotted{display:none !important}#home .story,.item,.item2{padding:5px
0px 10px 0px;margin-bottom:0;border-bottom:1px solid #999}.fakebutton{background-color:#abc53f;min-height:20px;padding:3px
40px 3px 10px;min-width:50px;color:#fff;font-weight:bold;font-family:arial;font-size:12px;text-decoration:none}.fakebutton:hover{color:#fff !important;text-decoration:none;background:#abc53f url(http://osnews.com/images/styles/leftnav_bkg.gif) bottom right no-repeat}.unrmsg{color:#fff !important}#indexbox{background:url(/images/styles/header_bkg.gif) top left repeat-y}.indexboxtxt{padding-left:15px;border:0;font-size:12px;background:#abc53f url(http://osnews.com/images/styles/leftnav_bkg.gif) bottom right no-repeat;max-width:140px;color:#fff}.sddm{float:right;padding:0;margin-top: -2px;font-size:11px}.sddm
img{display:block;padding:2px
9px 2px 9px;margin:0;vertical-align:middle}.sddm
ul{display:none;position:absolute;margin:0;padding:0;list-style:none outside;border:1px
solid #ACC04B;background-color:#EAEAD9;z-index:1}.sddm
li{width:115px;margin:0;padding:0}.sddm li
a{display:block;text-decoration:none;padding:3px
9px}.sddm li a:hover{background-color:#ACC04B !important}.newstitle1,.otitle1{padding-top:8px !important}.nb{padding-left:5px !important;padding-top:2px !important;vertical-align:top !important}.newssubheader1{margin-left:24px}.convnewssubheader1{margin-left:0 !important}.newscontent1{padding-left:25px;width:573px !important;margin-top:8px !important;line-height:1.25em !important;font-family:"Tahoma","Trebuchet MS","Helvetica Neue",Helvetica,Arial,sans-serif!important;color:#333 !important}.convcontent{padding-left:0 !important}.newsfooter1{margin-top:8px !important}img[title="Recommend this article"]{padding-left:5px !important;vertical-align: -2px !important}.timg{float:right !important;position:relative;top: -48px;right:6px !important}.left15{padding-left:15px}div.bubble{width:auto;font-size:0.75em;margin-bottom:24px}div.bubble
blockquote{margin:0px;padding:0px;border:1px
solid #c9c2c1;background-color:#fff}div.bubble blockquote
p{margin:10px;padding:0px}div.bubble
cite{position:relative;margin:0px;padding:7px
0px 0px 15px;top:6px;background:transparent url(/css/tip.gif) no-repeat 20px 0;font-style:normal}