patches
/ClanLib.sln
/ClanLib.opensdf
/ClanLib.sdf
/ClanLib.xcodeproj
ipch
Debug
Release
.deps
.dirstamp
.libs
*.o
*.lo
*.la
*.suo
*.sdf
*.user
*~
/Build
/Projects/clan*.vcxproj.filters
/Projects/clan*.vcxproj
/Projects/install_clan*.bat
/Projects/MacOSX/build/
/Projects/Sheets/ExternalDirectories.props
ipch
doxyoutput
/Tests/CSSLayout/WebBrowser/file_cache.db
/Tests/CSSLayout/WebBrowser/htmlpage.css
/Tests/CSSLayout/WebBrowser/htmlpage.html
/Tests/CSSLayout/WebBrowser/*.opensdf
/Documentation/Makefile

Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/Setup/Unix/m4/libtool.m4
/Setup/Unix/m4/ltoptions.m4
/Setup/Unix/m4/ltsugar.m4
/Setup/Unix/m4/ltversion.m4
/Setup/Unix/m4/lt~obsolete.m4
/missing
/Examples/Makefile
/Examples/Makefile.conf
/Makefile
/Setup/Makefile
/Setup/Unix/pkgconfig/Makefile
/Setup/Unix/pkgconfig/clan*.pc
/Sources/Makefile
/Sources/*/Makefile
/Tests/Makefile.conf
/config.log
/config.status
/libtool

# OS X / Xcode
.DS_Store
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata
xcshareddata
*.opensdf
*.idb
*.exe
*.tlog
*.pdb
*.log
*.vcxproj
*.ilk
*.obj
*.pch
*.vcxproj
