/ClanLib.sln
/ClanLib.opensdf
/ClanLib.sdf
ipch
Debug
Release
*.suo
*.sdf
*.user
/Build
/Projects/clanCore.vcxproj.filters
/Projects/clanApp.vcxproj
/Projects/clanApp.vcxproj.filters
/Projects/clanCompute.vcxproj
/Projects/clanCompute.vcxproj.filters
/Projects/clanCore.vcxproj
/Projects/clanDatabase.vcxproj.filters
/Projects/clanCSSLayout.vcxproj
/Projects/clanCSSLayout.vcxproj.filters
/Projects/clanD3D.vcxproj
/Projects/clanD3D.vcxproj.filters
/Projects/clanDatabase.vcxproj
/Projects/clanNetwork.vcxproj.filters
/Projects/clanDisplay.vcxproj
/Projects/clanDisplay.vcxproj.filters
/Projects/clanGameIDE.vcxproj
/Projects/clanGameIDE.vcxproj.filters
/Projects/clanGL.vcxproj
/Projects/clanGL.vcxproj.filters
/Projects/clanGUI.vcxproj
/Projects/clanGUI.vcxproj.filters
/Projects/clanNetwork.vcxproj
/Projects/clanSound.vcxproj.filters
/Projects/clanPhysics2D.vcxproj
/Projects/clanPhysics2D.vcxproj.filters
/Projects/clanPhysics3D.vcxproj
/Projects/clanPhysics3D.vcxproj.filters
/Projects/clanScene3D.vcxproj
/Projects/clanScene3D.vcxproj.filters
/Projects/clanSound.vcxproj
/Projects/clanSWRender.vcxproj
/Projects/clanSWRender.vcxproj.filters
/Projects/clanSqlite.vcxproj
/Projects/clanSqlite.vcxproj.filters
/Projects/install_clanGameIDE.bat
/Projects/install_clanApp.bat
/Projects/install_clanCompute.bat
/Projects/install_clanCore.bat
/Projects/install_clanCSSLayout.bat
/Projects/install_clanD3D.bat
/Projects/install_clanDatabase.bat
/Projects/install_clanDisplay.bat
/Projects/install_clanPhysics3D.bat
/Projects/install_clanGL.bat
/Projects/install_clanGUI.bat
/Projects/install_clanNetwork.bat
/Projects/install_clanPhysics2D.bat
/Projects/install_clanSWRender.bat
/Projects/install_clanScene3D.bat
/Projects/install_clanSound.bat
/Projects/install_clanSqlite.bat
/Projects/Sheets/ExternalDirectories.props
ipch
doxyoutput

/Tests/CSSLayout/WebBrowser/file_cache.db
/Tests/CSSLayout/WebBrowser/htmlpage.css

/Tests/CSSLayout/WebBrowser/htmlpage.html

/Tests/CSSLayout/WebBrowser/*.opensdf
