<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClanLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>clanApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>clanCSSLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>clanCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>clanDatabase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>clanDisplay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>clanGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>clanGUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>clanNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>clanSound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>clanSqlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1835B438163618BE0009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835BD5116361C4A0009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835BE4F16361DE60009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835BE5C1636223D0009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835BEA7163623250009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835BEBA163623A00009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835C0401636256E0009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835C07F163626B10009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835C08D1636271B0009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835C110163629410009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835C123163629FC0009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1835C1EC163631850009AA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
