
workspace
{
	border-image-source:url('res:Workspace');
	border-image-slice:54 8 8 8 fill;
	border-image-width:54px 8px 8px 8px;
}

workspacetab
{
	border-image-source:url('res:WorkspaceTab');
	border-image-slice:8 8 8 8 fill;
	border-image-width:8px 8px 8px 8px;
	width: 40px;
	height: 27px;

}

