 
@import "../../../Resources/GUIThemeAero/theme.css";


button.redtext
{
	font-family: ClanLib Font;
	text-color: #FF4444;
}


lineedit.greentext
{
	font-family: ClanLib Font;
	text-color: #AAFFAA;
}

lineedit.greentext selection
{
	font-family: ClanLib Font;
}

lineedit.redtext selection
{
	font-family: ClanLib Font;
}
