
checkbox
{
	text-gap:3;
	padding-top:1px;
	padding-bottom:4px;
	color:black;
}

checkbox:disabled
{
	color:darkgray;
}

checkbox checker
{
	border-image-slice:3 3 3 3;
	bg-image-sizing:default;
	width:13px;
	height:13px;
}

checkbox focus
{
	border-image-slice:3 4 3 4;
	bg-image-sizing:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 


checkbox checker:checked:normal
{
	border-image-source:url('res:CheckBoxCheckedNormal'); 
}

checkbox checker:checked:hot
{
	border-image-source:url('res:CheckBoxCheckedHot'); 
}

checkbox checker:checked:pressed
{
	border-image-source:url('res:CheckBoxCheckedPressed'); 
}

checkbox checker:checked:disabled
{
	border-image-source:url('res:CheckBoxCheckedDisabled'); 
}

checkbox checker:unchecked:normal
{
	border-image-source:url('res:CheckBoxUncheckedNormal'); 
}

checkbox checker:unchecked:pressed
{
	border-image-source:url('res:CheckBoxUncheckedPressed');
}

checkbox checker:unchecked:disabled
{
	border-image-source:url('res:CheckBoxUncheckedDisabled'); 
}

checkbox checker:unchecked:hot
{
	border-image-source:url('res:CheckBoxUncheckedHot'); 
}

checkbox checker:indeterminated:normal
{
	border-image-source:url('res:CheckBoxIndeterminatedNormal'); 
}

checkbox checker:indeterminated:pressed
{
	border-image-source:url('res:CheckBoxIndeterminatedPressed');
}

checkbox checker:indeterminated:disabled
{
	border-image-source:url('res:CheckBoxIndeterminatedDisabled'); 
}

checkbox checker:indeterminated:hot
{
	border-image-source:url('res:CheckBoxIndeterminatedHot'); 
}
