



combobox lineedit
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 

	border-top:0px;
	border-left:6px;
	border-right:16px;
	border-bottom:0px;
	
	color:black;
	text-color-selected:white;
}

combobox opener
{
	width:13px;
	height:13px;
	border-image-slice:0 0 0 0 fill;
	border-image-width:0px 0px 0px 0px;
	bg-image-sizing:default;
	align:center;
	vertical-align:center;

}

combobox opener:normal
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

combobox opener:hot
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

combobox opener:pressed
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

combobox opener:disabled
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

popupmenu.combobox
{
	border-image-source:url('res:ComboBoxPopupBg');

	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 

	border-top:3px;
	border-left:1px;
	border-right:2px;
	border-bottom:3px;
}

popupmenu.combobox row
{
	width:100px;
	height:18px;
	border-image-source:none;
}

popupmenu.combobox row:selected
{
	width:100px;
	height:18px;
	border-image-source:none;
	background-color:#D3D3D3;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	border-color:#4B4B6F;
}


popupmenu.combobox icon
{
	width:16px;
	height:16px;
	border-image-source:none;
}

popupmenu.combobox icon:selected
{
	width:16px;
	height:16px;
	border-image-source:none;
}

popupmenu.combobox label
{
	width:70px;
	height:18px;
	border-image-source:none;
}

popupmenu.combobox label:selected
{
	width:70px;
	height:18px;
	border-image-source:none;
}

