



combobox lineedit
{
	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch; 

	border-top:0;
	border-left:6;
	border-right:16;
	border-bottom:0;
	
	color:black;
	text-color-selected:white;
}

combobox opener
{
	width:13px;
	height:13px;
	border-image-slice:0 0 0 0;
	bg-image-sizing:default;
	align:center;
	vertical-align:center;

}

combobox opener:normal
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

combobox opener:hot
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

combobox opener:pressed
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

combobox opener:disabled
{
	border-image-source:url('res:ComboBoxDownArrow'); 
}

popupmenu.combobox
{
	border-image-source:url('res:ComboBoxPopupBg');

	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch; 

	border-top:3;
	border-left:1;
	border-right:2;
	border-bottom:3;
}

popupmenu.combobox row
{
	width:100px;
	height:18px;
	border-image-source:none;
}

popupmenu.combobox row:selected
{
	width:100px;
	height:18px;
	border-image-source:none;
	bg-color:#D3D3D3;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
	border-color:#4B4B6F;
}


popupmenu.combobox icon
{
	width:16px;
	height:16px;
	border-image-source:none;
}

popupmenu.combobox icon:selected
{
	width:16px;
	height:16px;
	border-image-source:none;
}

popupmenu.combobox label
{
	width:70px;
	height:18px;
	border-image-source:none;
}

popupmenu.combobox label:selected
{
	width:70px;
	height:18px;
	border-image-source:none;
}

