
image
{
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 
	border-image-source:url('res:ImageNormal');

	border-top:3px;
	border-bottom:3px;
	border-left:3px;
	border-right:3px;
}

