
listview 
{
	border-image-source:url('res:ListViewBorder'); 

	border-image-slice:3 3 3 3;
	bg-image-sizing:stretch; 
	
	border-top:1;
	border-left:1;
	border-right:1;
	border-bottom:1;
}

listview row:details
{
	border-image-source:none; 
	indent-width:20;
	bg-color:#eeeeee;

	border-top:0;
	border-bottom:0;
}

listview row:alternate
{
	border-image-source:none; 
	indent-width:20;
	bg-color:#e2e2e2;

	border-top:0;
	border-bottom:0;
}

listview column
{
	border-image-source:none; 
	bg-color:#f2f2f2;
}

listview row_opener:open
{
	border-image-source:url('res:ListViewRowOpenerClosed');
	height:9px;
	width:9px;
	offset-y:-2;
}

listview row_opener:closed
{
	border-image-source:url('res:ListViewRowOpenerOpen');
	height:9px;
	width:9px;
	offset-y:-2;
}

listview selection
{
	selection-margin-left:3;
	selection-margin-right:4;
	selection-margin-top:1;
	selection-margin-bottom:2;

	bg-color:#316ac5;
	color:#f2e3f2;
}

listview selection:unfocused
{
	bg-color:#ece9d8;
	color:black;
}

listview selection:normal
{
	text-decoration:none;
}

listview selection:hot
{
	text-decoration:underline;
}

listview icon_selection:normal
{
	border-image-source:url('res:ListViewIconSelection');

	border-image-slice:3 4 3 4;
	bg-image-sizing:stretch; 

	border-top:-3;
	border-left:-3;
	border-right:-3;
	border-bottom:-3;
}


listview columns_bg
{
	border-image-source:none;
	bg-color:white;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
}

listview row:icons
{
	border-image-source:none;
	bg-color:#eeeeee;
}

listview cell:details:hot
{
	color:blue;
	text-decoration:underline;
}

listview cell:details:normal
{
	border-image-source:none; 
	bg-color:;

	color:black;
	
	width:100px;
	height:17px;

	icon-width: 16;
	icon-height: 16;

	opener-icon-gap:6;
	icon-text-gap:5;
	icon-offset-y:0;

	padding-top:2px;
	padding-left:4px;
	padding-right:0px;
	padding-bottom:0px;

	line-edit-offset-left:6;
	line-edit-offset-top:2;
	line-edit-offset-bottom:2;
	line-edit-offset-right:14;
}

listview cell:icons:normal
{
   	border-image-source:none; 
	bg-color:;

	width:70px;
	height:66px;

	icon-width: 32;
	icon-height: 32;
	
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;

	line-edit-offset-left:6;
	line-edit-offset-top:0;
	line-edit-offset-bottom:5;
	line-edit-offset-right:14;
}

listview cell:thumbnails:normal
{
	width:125px;
	height:119px;

	icon-width: 96;
	icon-height: 96;
	
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:3;

	line-edit-offset-left:6;
	line-edit-offset-top:0;
	line-edit-offset-bottom:5;
	line-edit-offset-right:14;
}



listview_header
{
	border-image-source:url('res:ListViewHeader');
	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch;
	
	height:20px;
	
/*	border-top:0;
	border-left:3;
	border-right:3;
	border-bottom:3;
*/
}

listview_header columnheader:normal
{
/*	border-image-source:url('res:ListViewBorder'); */
	border-image-source:url('res:ListViewColumnHeaderNormal');
	border-image-slice:3 3 3 3;
	bg-image-sizing:stretch;
	
	border-top:3;
	border-left:7;
	border-right:3;
	border-bottom:3;
}

listview_header columnheader:hot
{
	border-image-source:url('res:ListViewColumnHeaderHot');
	border-image-slice:7 7 4 5;
	bg-image-sizing:stretch;

	border-top:3;
	border-left:7;
	border-right:3;
	border-bottom:3;
}

listview_header columnheader:pressed
{
	border-image-source:url('res:ListViewColumnHeaderPressed');
	border-image-slice:3 3 0 0;
	bg-image-sizing:stretch;
	
	border-top:3;
	border-left:8;
	border-right:3;
	border-bottom:3;
}
