
menubar
{
	width:100px;
	height:24px;
	bg-color:transparent;
	color:black;
	
	padding-top:2px;
}

menubar item
{
	padding-left:8px;
	padding-right:8px;
	width:50px;
	height:24px;
	align:center;
	vertical-align:center;
}

menubar item:disabled
{
	color:darkgray;
}


menubar item:selected
{
	width:50px;
	height:24px;

	/*border-top:10;*/
 
	border-image-slice:4 4 5 1;
	bg-image-sizing:stretch; 

	border-image-source:url('res:MenuBarSelectedItem');
}

menubar item:hot
{
	bg-color:#dee2f4;

	/*margin-top:3;*/

	border-color:#316ac5;	
	border-left:1;
	border-right:1;
	border-top:1;
	border-bottom:1;
}
