progressbar
{
	bg-image:;
	bg-color: #aaaaaa;
	border-top:1;
	border-left:1;
	border-right:1;
	border-bottom:1;
}

progress 
{
	bg-image:;
	bg-color: #22dd22;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
	preferred-width:17;
}
