progressbar
{
	border-image-source:none;
	background-color: #aaaaaa;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
}

progress 
{
	border-image-source:none;
	background-color: #22dd22;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	width:17px;
}
