
slider
{
	color:black;
}

slider:disabled
{
	color:darkgray;
}

slider focus
{
	border-image-slice:3 4 3 4 fill;
	border-image-width:3px 4px 3px 4px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 

slider slidertrack.horizontal
{
	border-image-source:url('res:SliderTrackNormal');
	width:22px;
	height:4px;
	border-image-repeat:stretch; 
}

slider slidertrack_start.horizontal
{
	border-image-source:url('res:SliderTrackStartNormal');
	width:4px;
	height:4px;
	border-image-repeat:stretch; 	
	gap-width:5;
}

slider slidertrack_end.horizontal
{
	border-image-source:url('res:SliderTrackEndNormal');
	width:4px;
	height:4px;
	border-image-repeat:stretch; 
	gap-width:8;
}

slider sliderthumb.horizontal
{
	width:11px;
	height:17px;
}

slider sliderthumb.horizontal:normal
{
	border-image-source:url('res:SliderThumbNormal'); 
}

slider sliderthumb.horizontal:hot
{
	border-image-source:url('res:SliderThumbHot');
}

slider sliderthumb.horizontal:disabled
{
	border-image-source:url('res:SliderThumbDisabled');
}

slider slidertrack.vertical
{
	border-image-source:url('res:SliderVerticalTrackNormal');
	width:4px;
	height:4px;
	border-image-repeat:stretch; 
}

slider slidertrack_start.vertical
{
	border-image-source:url('res:SliderVerticalTrackStartNormal');
	width:4px;
	height:4px;
	border-image-repeat:stretch; 	
	gap-width:5;
}

slider slidertrack_end.vertical
{
	border-image-source:url('res:SliderVerticalTrackEndNormal');
	width:4px;
	height:4px;
	border-image-repeat:stretch; 
	gap-width:8;
}

slider sliderthumb.vertical
{
	width:17px;
	height:11px;
}

slider sliderthumb.vertical:normal
{
	border-image-source:url('res:SliderVerticalThumbNormal'); 
}

slider sliderthumb.vertical:hot
{
	border-image-source:url('res:SliderVerticalThumbHot');
}

slider sliderthumb.vertical:disabled
{
	border-image-source:url('res:SliderVerticalThumbDisabled');
}
