textedit
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 
	
	border-color:gray;
	border-left:1px;
	border-bottom:1px;
	border-right:1px;
	border-top:1px;
	
	padding-top:3px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:3px;

	color:black;
}

textedit:normal
{
	border-image-source:none; 
	background-color: white;
}

textedit:hot
{
	border-image-source:none;
	background-color: white;
}

textedit:disabled
{
	border-image-source:none; 
	color:gray;
	border-color:#afafaf;
}

textedit cursor
{
	width:1px;

	background-color: black;

	blink-time-on:1000;
	blink-time-off:1000;
	border-image-source:none;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

textedit cursor:blink_on
{
	background-color: black;
}

textedit cursor:blink_off
{
	background-color: white;
}

textedit selection
{
	color: white;
	expand-top:-2;
	expand-bottom:-1;
	border-image-source:none;
	background-color: #316ac5;

	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

textedit selection:disabled
{
	border-image-source:none;
	background-color: #7a96df;
}

textedit selection:unfocused
{
	border-image-source:none;
	background-color: #7a96df;
}
