
/* LISTVIEW HEADER */

listview_header
{
	preferred-height: 33; 
}

listview_header columnheader
{
	border-left:0;
	border-right:0;

	text-color: #7FE6EF;
	font-weight: bold;
	font-size: 20;
	font-family: VeraBd;
}

/* LISTVIEW */

listview 
{
}

listview column
{
}

listview columns_bg
{
}

listview cell
{
	preferred-height:27;

	text-color:white;
	font-weight: bold;
	font-size: 20;
	font-family: VeraBd;
}

listview cell:details:hot
{
	text-color:yellow;
}

listview selection
{
	bg-color:darkgrey;
	
	font-weight: bold;
	font-size: 20;
	font-family: VeraBd;
}
