component desktop
{
	background-image:url('res:Backgroundl'); 
	border-image-repeat:stretch;
}

component login
{
	background-image:url('res:LoginBackgroundl'); 
	border-image-repeat:stretch;
	border-image-slice:10 10 10 10 fill;
	border-image-width:10px 10px 10px 10px;
}
