@charset "utf-8";

#page-footer-wrapper
{
    background: #f0f0f0; /* for CSS 2.1 browsers */
    background-image: -webkit-linear-gradient(top, white, #e8e8e8); /* for old mobile devices */
    background: linear-gradient(to bottom, white, #e8e8e8);
    height: 112px;

    /* To keep header margins within the header box */
    padding: 1px;
    margin: -1px;
}

#page-footer
{
    width: 960px;
    height: 112px;
    margin: 0 auto;
}

#page-footer-copyright
{
    font: 13px 'Segoe UI', 'Monda', sans-serif;
    color: #777777;
    padding: 15px 0;
    text-align: center;
}

@media screen and (max-width: 1000px)
{
    #page-footer
    {
        width: 90%;
    }
}

@media screen and (max-width: 600px)
{
    #page-footer
    {
        width: 85%;
    }
}

@media print
{
    #page-footer
    {
        display: none;
    }
}
