dragbox
{
	background-color: #a0a0f0;
}

label
{
	padding-top: 2;
}

checkbox
{
	text-gap:3;
	padding-top:1px;
	padding-bottom:4px;
	color:black;
}

checkbox:disabled
{
	color:darkgray;
}

checkbox focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 

checkbox checker
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll;
	width:13px;
	height:13px;
}

checkbox checker:checked:normal
{
	background-image:url('res:CheckBoxCheckedNormal'); 
}

checkbox checker:checked:hot
{
	background-image:url('res:CheckBoxCheckedHot'); 
}

checkbox checker:checked:pressed
{
	background-image:url('res:CheckBoxCheckedPressed'); 
}

checkbox checker:checked:disabled
{
	background-image:url('res:CheckBoxCheckedDisabled'); 
}

checkbox checker:unchecked:normal
{
	background-image:url('res:CheckBoxUncheckedNormal'); 
}

checkbox checker:unchecked:pressed
{
	background-image:url('res:CheckBoxUncheckedPressed');
}

checkbox checker:unchecked:disabled
{
	background-image:url('res:CheckBoxUncheckedDisabled'); 
}

checkbox checker:unchecked:hot
{
	background-image:url('res:CheckBoxUncheckedHot'); 
}

checkbox checker:indeterminated:normal
{
	background-image:url('res:CheckBoxIndeterminatedNormal'); 
}

checkbox checker:indeterminated:pressed
{
	background-image:url('res:CheckBoxIndeterminatedPressed');
}

checkbox checker:indeterminated:disabled
{
	background-image:url('res:CheckBoxIndeterminatedDisabled'); 
}

checkbox checker:indeterminated:hot
{
	background-image:url('res:CheckBoxIndeterminatedHot'); 
}

combobox lineedit
{
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 

	border-top:0px;
	border-left:6px;
	border-right:16px;
	border-bottom:0px;
	
	color:black;
	text-color-selected:white;
}

combobox opener
{
	width:17px;
	height:21px;
	border-image-slice:6 5 6 5 fill;
	border-image-width:6px 5px 6px 5px;
	bg-image-sizing:default;
	align:center;
	vertical-align:center;
}

combobox opener:normal
{
	border-image-source:url('res:ComboBoxDropDownButtonNormal'); 
}

combobox opener:hot
{
	border-image-source:url('res:ComboBoxDropDownButtonHot'); 
}

combobox opener:pressed
{
	border-image-source:url('res:ComboBoxDropDownButtonPressed'); 
}

combobox opener:disabled
{
	border-image-source:url('res:ComboBoxDropDownButtonDisabled'); 
}

combobox opener_glyph
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	align:center;
	vertical-align:center;
}

combobox opener_glyph:normal
{
	background-image:url('res:ComboBoxDropDownButtonGlyphNormal'); 
}

combobox opener_glyph:hot
{
	background-image:url('res:ComboBoxDropDownButtonGlyphHot'); 
}

combobox opener_glyph:pressed
{
	background-image:url('res:ComboBoxDropDownButtonGlyphPressed'); 
}

combobox opener_glyph:disabled
{
	background-image:url('res:ComboBoxDropDownButtonGlyphDisabled');
}
frame
{
	width:100px;
	height:100px;

	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 

	color:blue;
}

frame header
{
	height:16px;
	
	border-image-source:none; 
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
}

frame headerleft
{
	width:10px;
	height:16px;
	
	border-image-source:none;
	border-image-slice:2 4 13 4 fill;
	border-image-width:2px 4px 13px 4px;
	border-image-repeat:stretch; 
}

frame headerright
{
	border-image-source:none;
	border-image-slice:2 4 13 4 fill;
	border-image-width:2px 4px 13px 4px;
	border-image-repeat:stretch; 
}

frame headercaption
{
	border-image-source:none;
	border-image-slice:2 4 13 4 fill;
	border-image-width:2px 4px 13px 4px;
	border-image-repeat:stretch; 
	
	border-left:4px;
	border-right:4px;
}

frame body
{
	border-image-source:none; 
	
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
}
groupbox
{
	width:100px;
	height:100px;

	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:GroupBox');
}

image
{
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 
	border-image-source:none;

	border-top:3px;
	border-bottom:3px;
	border-left:3px;
	border-right:3px;
}


lineedit
{
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 
	
	border-top:0px;
	border-left:6px;
	border-right:16px;
	border-bottom:0px;

	color:black;
}

lineedit:normal
{
	border-image-source:url('res:LineEditNormal'); 
}

lineedit:hot
{
	border-image-source:url('res:LineEditHot');
}

lineedit:disabled
{
	border-image-source:url('res:LineEditDisabled'); 
	color:gray;
}

lineedit cursor
{
	width:1px;

	background-color: black;

	blink-time-on:1000;
	blink-time-off:1000;
	bg-image
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

lineedit cursor:blink_on
{
	background-color: black;
}

lineedit cursor:blink_off
{
	background-color: white;
}

lineedit selection
{
	color: white;
	expand-top:-2;
	expand-bottom:-1;
	border-image-source:none;
	background-color: #316ac5;

	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

lineedit selection:disabled
{
	border-image-source:none;
	background-color: #7a96df;
}

lineedit selection:unfocused
{
	border-image-source:none;
	background-color: #7a96df;
}

textedit
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 
	
	border-color:gray;
	border-left:1px;
	border-bottom:1px;
	border-right:1px;
	border-top:1px;
	
	padding-top:3px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:3px;

	color:black;
}

textedit:normal
{
	border-image-source:none; 
	background-color: white;
}

textedit:hot
{
	border-image-source:none;
	background-color: white;
}

textedit:disabled
{
	border-image-source:none; 
	color:gray;
	border-color:#afafaf;
}

textedit cursor
{
	width:1px;

	background-color: black;

	blink-time-on:1000;
	blink-time-off:1000;
	border-image-source:none;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

textedit cursor:blink_on
{
	background-color: black;
}

textedit cursor:blink_off
{
	background-color: white;
}

textedit selection
{
	color: white;
	expand-top:-2;
	expand-bottom:-1;
	border-image-source:none;
	background-color: #316ac5;

	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

textedit selection:disabled
{
	border-image-source:none;
	background-color: #7a96df;
}

textedit selection:unfocused
{
	border-image-source:none;
	background-color: #7a96df;
}

listview 
{
	border-image-source:none; 

	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 
	
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
}

listview row:details
{
	bg-image 
	indent-width:20;
	background-color:#eeeeee;

	border-top:0px;
	border-bottom:0px;
}

listview row:alternate
{
	bg-image 
	indent-width:20;
	background-color:#e2e2e2;

	border-top:0px;
	border-bottom:0px;
}

listview column
{
	bg-image 
	background-color:#f2f2f2;
}

listview row_opener:open
{
	border-image-source:none;
	height:9px;
	width:9px;
	offset-y:-2;
}

listview row_opener:closed
{
	border-image-source:none;
	height:9px;
	width:9px;
	offset-y:-2;
}

listview selection
{
	selection-margin-left:3px;
	selection-margin-right:4px;
	selection-margin-top:1;
	selection-margin-bottom:2;

	background-color:#316ac5;
	color:#f2e3f2;
}

listview selection:unfocused
{
	background-color:#ece9d8;
	color:black;
}

listview selection:normal
{
	text-decoration:none;
}

listview selection:hot
{
	text-decoration:underline;
}

listview icon_selection:normal
{
	border-image-source:none;

	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:stretch; 

	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}


listview columns_bg
{
	bg-image
	background-color:white;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

listview row:icons
{
	bg-image
	background-color:#eeeeee;
}

listview cell:details:hot
{
	color:blue;
	text-decoration:underline;
}

listview cell:details:normal
{
	bg-image 
	background-color:;

	color:black;
	
	width:100px;
	height:17px;

	icon-width: 16;
	icon-height: 16;

	opener-icon-gap:6;
	icon-text-gap:5;
	icon-offset-y:0;

	padding-top:2px;
	padding-left:4px;
	padding-right:0px;
	padding-bottom:0px;

	line-edit-offset-left:6;
	line-edit-offset-top:2;
	line-edit-offset-bottom:2;
	line-edit-offset-right:14;
}

listview cell:icons:normal
{
   	bg-image 
	background-color:;

	width:70px;
	height:66px;

	icon-width: 32;
	icon-height: 32;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;

	line-edit-offset-left:6;
	line-edit-offset-top:0;
	line-edit-offset-bottom:5;
	line-edit-offset-right:14;
}

listview cell:thumbnails:normal
{
	width:125px;
	height:119px;

	icon-width: 96;
	icon-height: 96;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:3px;

	line-edit-offset-left:6;
	line-edit-offset-top:0;
	line-edit-offset-bottom:5;
	line-edit-offset-right:14;
}



listview_header
{
	border-image-source:none;
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch;
	
	height:20px;
}

listview_header columnheader:normal
{
	border-image-source:url('res:ListViewColumnHeaderNormal');
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch;
	
	border-top:3px;
	border-left:7px;
	border-right:3px;
	border-bottom:3px;
}

listview_header columnheader:hot
{
	border-image-source:url('res:ListViewColumnHeaderHot');
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch;

	border-top:3px;
	border-left:7px;
	border-right:3px;
	border-bottom:3px;
}

listview_header columnheader:pressed
{
	border-image-source:url('res:ListViewColumnHeaderPressed');
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch;
	
	border-top:3px;
	border-left:8px;
	border-right:3px;
	border-bottom:3px;
}

menubar
{
	border-image-slice:9 1 15 1 fill;
	border-image-width:9px 1px 15px 1px;
	border-image-repeat:stretch;
	border-image-source:url('res:MenuBarBackgroundActive'); 

	width:100px;
	height:24px;

	color:black;
}

menubar item
{
	padding-left:8px;
	padding-right:8px;
	align:center;
	vertical-align:center;
}

menubar item:disabled
{
	color:darkgray;
}

menubar item:selected
{
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:MenuBarItemSelected');
}

menubar item:hot
{
	/*margin-top:3;*/

	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:MenuBarItemSelected');
}

popupmenu
{
	border-image-slice:4 4 4 32 fill;
	border-image-width:4px 4px 4px 32px;
	border-image-repeat:stretch; 
	border-image-source:url('res:PopupMenu');
	padding-top:2px;
	padding-bottom:2px;
	icon-column-width:30;
}

popupmenu row
{
	width:140px;
	height:20px;
	padding-left:2px;
	border-image-source:none;
}

popupmenu icon
{
	width:20px;
	height:20px;
	border-image-source:none;
}

popupmenu check
{
	width:20px;
	height:20px;
	border-image-source:url('res:PopupMenuChecked');
}

popupmenu check:disabled
{
	width:20px;
	height:20px;
	border-image-source:url('res:PopupMenuCheckedDisabled');
}

popupmenu label
{
	width:70px;
	height:20px;
	padding-left:2px;
	border-image-source:none;
}

popupmenu label:selected
{
}

popupmenu label:disabled
{
	color:darkgray;
}

popupmenu accel_label
{
	padding-left:20px;
	border-image-source:none;
}

popupmenu accel_label:disabled
{
	padding-left:20px;
	border-image-source:none;
	color:darkgray;
}

popupmenu row:selected
{
	border-image-slice:4 8 4 8 fill;
	border-image-width:4px 8px 4px 8px;
	border-image-repeat:stretch; 
	border-image-source:url('res:PopupMenuSelected');
}

popupmenu separator
{
	height:2px;
	padding-left:32px;

	border-image-slice:1 4 1 4 fill;
	border-image-width:1px 4px 1px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:PopupMenuSeparator');
}

popupmenu submenu_arrow
{
	width:24px;
	height:8px;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:PopupMenuSubmenuArrow');
}

popupmenu joiner
{
	no-draw:true;
}

progressbar
{
	border-image-source:none;
	background-color: #aaaaaa;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
}

progress 
{
	border-image-source:none;
	background-color: #22dd22;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
	width:17px;
}


button
{
    flex-direction: row;
    border-image: url('res:ButtonNormal') 6 6 5 5 fill / 6px 6px 5px 5px;
    padding: 5px;
}

button:defaulted
{
    border-image: url('res:ButtonDefaulted') 6 6 5 5 fill / 6px 6px 5px 5px;
}

button:hot
{
    border-image: url('res:ButtonHot') 6 6 5 5 fill / 6px 6px 5px 5px;
}

button:pressed
{
    border-image: url('res:ButtonPressed') 6 6 5 5 fill / 6px 6px 5px 5px;
}

button:disabled
{
    border-image: url('res:ButtonDisabled') 6 6 5 5 fill / 6px 6px 5px 5px;
}

button:focus
{
    border-image: url('res:ButtonFocus') 8 9 8 8 fill / 8px 9px 8px 8px;
}

button imageview
{
}

button:pressed imageview
{
    position: relative;
    left: 1px;
    top: 1px;
}

button label
{
    align-self: center;
}

button:pressed label
{
    position: relative;
    left: 1px;
    top: 1px;
}


button focus
{
	border-image-slice:8 8 9 8 fill;
	border-image-width:8px 8px 9px 8px;
	border-image-repeat:repeat;
	border-image-source:url('res:ButtonFocus'); 
}
radiobutton
{
	color:black;
	text-gap:3;
}

radiobutton:disabled
{
	color:darkgray;
}

radiobutton checker
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll;
	width:13px;
	height:13px;
}

radiobutton checker:checked:normal
{
	background-image:url('res:RadioButtonCheckedNormal'); 
}

radiobutton checker:checked:hot
{
	background-image:url('res:RadioButtonCheckedHot'); 
}

radiobutton checker:checked:pressed
{
	background-image:url('res:RadioButtonCheckedPressed'); 
}

radiobutton checker:checked:disabled
{
	background-image:url('res:RadioButtonCheckedDisabled'); 
}

radiobutton checker:unchecked:normal
{
	background-image:url('res:RadioButtonUncheckedNormal'); 
}

radiobutton checker:unchecked:hot
{
	background-image:url('res:RadioButtonUncheckedHot'); 
}

radiobutton checker:unchecked:pressed
{
	background-image:url('res:RadioButtonUncheckedPressed'); 
}

radiobutton checker:unchecked:disabled
{
	background-image:url('res:RadioButtonUncheckedDisabled'); 
}

radiobutton focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:none; 
} 

scrollbar 
{
	no-draw:true;
	height:17px;
}

scrollbar scrolltrack.left
{
	border-image-slice:4 0 3 0 fill;
	border-image-width:4px 0px 3px 0px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.left:normal
{
	border-image-source:url('res:ScrollbarHoriTrackNormal'); 
}

scrollbar scrolltrack.left:hot
{
	border-image-source:url('res:ScrollbarHoriTrackHot'); 
}

scrollbar scrolltrack.left:pressed
{  
	border-image-source:url('res:ScrollbarHoriTrackPressed'); 
}

scrollbar scrolltrack.left:disabled
{
	border-image-source:url('res:ScrollbarHoriTrackDisabled'); 
}

scrollbar scrolltrack.right
{
	border-image-slice:4 0 3 0 fill;
	border-image-width:4px 0px 3px 0px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.right:normal
{
	border-image-source:url('res:ScrollbarHoriTrackNormal'); 
}

scrollbar scrolltrack.right:hot
{
	border-image-source:url('res:ScrollbarHoriTrackHot'); 
}

scrollbar scrolltrack.right:pressed
{
	border-image-source:url('res:ScrollbarHoriTrackPressed'); 
}

scrollbar scrolltrack.right:disabled
{
	border-image-source:url('res:ScrollbarHoriTrackDisabled'); 
}


scrollbar scrollthumb.horizontal
{
	border-image-slice:5 5 5 5 fill;
	border-image-width:5px 5px 5px 5px;
	border-image-repeat:stretch; 
}

scrollbar scrollthumb.horizontal:normal
{
	border-image-source:url('res:ScrollbarHoriThumbNormal'); 
}

scrollbar scrollthumb.horizontal:hot
{
	border-image-source:url('res:ScrollbarHoriThumbHot'); 
}

scrollbar scrollthumb.horizontal:pressed
{
	border-image-source:url('res:ScrollbarHoriThumbPressed'); 
}

scrollbar scrollthumb.horizontal:disabled
{
	border-image-source:url('res:ScrollbarHoriThumbDisabled'); 
}


scrollbar scrollthumbgripper.horizontal
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
}

scrollbar scrollthumbgripper.horizontal:normal
{
	background-image:url('res:ScrollbarHoriThumbGripperNormal'); 
}

scrollbar scrollthumbgripper.horizontal:hot
{
	background-image:url('res:ScrollbarHoriThumbGripperHot'); 
}

scrollbar scrollthumbgripper.horizontal:pressed
{
	background-image:url('res:ScrollbarHoriThumbGripperPressed'); 
}

scrollbar scrollthumbgripper.horizontal:disabled
{
	background-image:url('res:ScrollbarHoriThumbGripperDisabled'); 
}


scrollbar scrollbutton.left
{
	width:17px;
	height:17px;
	bg-image-sizing:tile;
}

scrollbar scrollbutton.left:normal
{
	border-image-source:url('res:ScrollbarHoriButtonLeftNormal');
}

scrollbar scrollbutton.left:hot
{
	border-image-source:url('res:ScrollbarHoriButtonLeftHot'); 
}

scrollbar scrollbutton.left:pressed
{
	border-image-source:url('res:ScrollbarHoriButtonLeftPressed'); 
}

scrollbar scrollbutton.left:disabled
{
	border-image-source:url('res:ScrollbarHoriButtonLeftDisabled'); 
}


scrollbar scrollbutton.right
{
	width:17px;
	height:17px;
	bg-image-sizing:tile;
}

scrollbar scrollbutton.right:normal
{
	border-image-source:url('res:ScrollbarHoriButtonRightNormal'); 
}

scrollbar scrollbutton.right:hot
{
	border-image-source:url('res:ScrollbarHoriButtonRightHot'); 
}

scrollbar scrollbutton.right:pressed
{
	border-image-source:url('res:ScrollbarHoriButtonRightPressed'); 
}

scrollbar scrollbutton.right:disabled
{
	border-image-source:url('res:ScrollbarHoriButtonRightDisabled'); 
}

scrollbar 
{
	no-draw:true;
	width:17px;
}

scrollbar scrolltrack.up
{
	border-image-slice:0 1 0 1 fill;
	border-image-width:0px 1px 0px 1px;
	border-image-repeat:stretch; 

}

scrollbar scrolltrack.up:normal
{
	border-image-source:url('res:ScrollbarVertTrackNormal'); 
}

scrollbar scrolltrack.up:hot
{
	border-image-source:url('res:ScrollbarVertTrackHot'); 
}

scrollbar scrolltrack.up:pressed
{
	border-image-source:url('res:ScrollbarVertTrackPressed'); 
}

scrollbar scrolltrack.up:disabled
{
	border-image-source:url('res:ScrollbarVertTrackDisabled'); 
}

scrollbar scrolltrack.down
{
	border-image-slice:0 1 0 1 fill;
	border-image-width:0px 1px 0px 1px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.down:normal
{
	border-image-source:url('res:ScrollbarVertTrackNormal'); 
}

scrollbar scrolltrack.down:hot
{
	border-image-source:url('res:ScrollbarVertTrackHot'); 
}

scrollbar scrolltrack.down:pressed
{
	border-image-source:url('res:ScrollbarVertTrackPressed'); 
}

scrollbar scrolltrack.down:disabled
{
	border-image-source:url('res:ScrollbarVertTrackDisabled'); 
}

scrollbar scrollthumb.vertical
{
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch;
}

scrollbar scrollthumb.vertical:normal
{
	border-image-source:url('res:ScrollbarVertThumbNormal'); 
}

scrollbar scrollthumb.vertical:hot
{
	border-image-source:url('res:ScrollbarVertThumbHot'); 
}

scrollbar scrollthumb.vertical:pressed
{
	border-image-source:url('res:ScrollbarVertThumbPressed'); 
}

scrollbar scrollthumb.vertical:disabled
{
	border-image-source:url('res:ScrollbarVertThumbDisabled'); 
}

scrollbar scrollthumbgripper.vertical
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
}

scrollbar scrollthumbgripper.vertical:normal
{
	background-image:url('res:ScrollbarVertThumbGripperNormal'); 
}

scrollbar scrollthumbgripper.vertical:hot
{
	background-image:url('res:ScrollbarVertThumbGripperHot'); 
}

scrollbar scrollthumbgripper.vertical:pressed
{
	background-image:url('res:ScrollbarVertThumbGripperPressed'); 
}

scrollbar scrollthumbgripper.vertical:disabled
{
	background-image:url('res:ScrollbarVertThumbGripperDisabled');
}

scrollbar scrollbutton.up
{
	width:17px;
	height:17px;
	bg-image-sizing:tile;
}

scrollbar scrollbutton.up:normal
{
	border-image-source:url('res:ScrollbarVertButtonUpNormal');
}

scrollbar scrollbutton.up:hot
{
	border-image-source:url('res:ScrollbarVertButtonUpHot'); 
}

scrollbar scrollbutton.up:pressed
{
	border-image-source:url('res:ScrollbarVertButtonUpPressed'); 
}

scrollbar scrollbutton.up:disabled
{
	border-image-source:url('res:ScrollbarVertButtonUpDisabled'); 
}

scrollbar scrollbutton.down
{
	width:17px;
	height:17px;
	bg-image-sizing:tile;
}


scrollbar scrollbutton.down:normal
{
	border-image-source:url('res:ScrollbarVertButtonDownNormal'); 
}

scrollbar scrollbutton.down:hot
{
	border-image-source:url('res:ScrollbarVertButtonDownHot'); 
}

scrollbar scrollbutton.down:pressed
{
	border-image-source:url('res:ScrollbarVertButtonDownPressed'); 
}

scrollbar scrollbutton.down:disabled
{
	border-image-source:url('res:ScrollbarVertButtonDownDisabled'); 
}



slider
{
	color:black;
	height:22px;
	width:22px;
}

slider:disabled
{
	color:darkgray;
}

slider focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 


slider slidertrack.horizontal
{
	height:4px;
	border-image-slice:1 2 1 1 fill;
	border-image-width:1px 2px 1px 1px;
	border-image-repeat:stretch; 
	border-image-source:url('res:SliderTrack');
}

slider sliderthumb.horizontal
{
	width:11px;
	height:17px;
	border-image-slice:9 3 9 2 fill;
	border-image-width:9px 3px 9px 2px;
	border-image-repeat:stretch; 
}

slider sliderthumb.horizontal:normal
{
	border-image-source:url('res:SliderHorizontalThumbNormal'); 
}

slider sliderthumb.horizontal:hot
{
	border-image-source:url('res:SliderHorizontalThumbHot');
}

slider sliderthumb.horizontal:disabled
{
	border-image-source:url('res:SliderHorizontalThumbDisabled');
}

slider slidertrack.vertical
{
	width:4px;
	border-image-slice:1 1 2 1  fill;
	border-image-width:1px 1px 2px 1px;
	border-image-repeat:stretch; 
	border-image-source:url('res:SliderTrack');
}

slider sliderthumb.vertical
{
	width:17px;
	height:11px;
	border-image-slice:5 3 5 2 fill;
	border-image-width:5px 3px 5px 2px;
	border-image-repeat:stretch; 
}

slider sliderthumb.vertical:normal
{
	border-image-source:url('res:SliderVerticalThumbNormal'); 
}

slider sliderthumb.vertical:hot
{
	border-image-source:url('res:SliderVerticalThumbHot');
}

slider sliderthumb.vertical:disabled
{
	border-image-source:url('res:SliderVerticalThumbDisabled');
}


spin 
{
	border-image-source:none;
	width:42px;
	height:21px;

	border-image-slice:0 0 0 0 fill;
	border-image-width:0px 0px 0px 0px;
	border-image-repeat:stretch; 	

	color:black;
}

spin:disabled
{
	color:darkgray;
}

spin button_up
{
	width:16px;
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 	
}

spin button_up:normal
{
	border-image-source:url('res:SpinButtonUpNormal');
}

spin button_up:hot
{
	border-image-source:url('res:SpinButtonUpHot');
}

spin button_up:pressed
{
	border-image-source:url('res:SpinButtonUpPressed');
}

spin button_up:disabled
{
	border-image-source:url('res:SpinButtonUpDisabled');
}

spin arrow_up:normal
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowUpNormal');
}

spin arrow_up:hot
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowUpNormal');
}

spin arrow_up:pressed
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowUpNormal');
}

spin arrow_up:disabled
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowUpDisabled');
}

spin button_down
{
	width:16px;
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 	
}

spin button_down:normal
{
	border-image-source:url('res:SpinButtonDownNormal');
}

spin button_down:hot
{
	border-image-source:url('res:SpinButtonDownHot');
}

spin button_down:pressed
{
	border-image-source:url('res:SpinButtonDownPressed');
}

spin button_down:disabled
{
	border-image-source:url('res:SpinButtonDownDisabled');
}

spin arrow_down:normal
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowDownNormal');
}

spin arrow_down:hot
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowDownNormal');
}

spin arrow_down:pressed
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowDownNormal');
}

spin arrow_down:disabled
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
	background-image:url('res:SpinArrowDownDisabled');
}


statusbar
{
	width:100px;
	height:23px;

	border-image-source:none; 
	border-image-slice:2 2 2 1 fill;
	border-image-width:2px 2px 2px 1px;
	border-image-repeat:stretch; 

	color:black;
}


tab 
{
	border-image-source:url('res:TabBorder');	
	border-image-slice:1 4 3 1 fill;
	border-image-width:1px 4px 3px 1px;

	border-left:8px;
	border-right:8px;
	border-top:8px;
	border-bottom:8px;
}

tabheader
{
	border-image-source:url('res:TabHeaderBorder');	
	border-image-slice:1 4 2 1 fill;
	border-image-width:1px 4px 2px 1px;
	border-image-repeat:stretch;
	first-tab-x-offset: 0;
	height:20px;
}

tabheader focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
}

tabheader page
{
	border-image-slice:3 2 1 2 fill;
	border-image-width:3px 2px 1px 2px;
	padding-left:5px;
	padding-right:5px;
	align:center;
	
	width:45px;
	height:20px;
}

tabheader page:normal
{
	border-image-source:url('res:TabHeaderPageNormal');
}

tabheader page:hot
{
	border-image-source:url('res:TabHeaderPageHot');
}

tabheader page:selected
{
	border-image-source:url('res:TabHeaderPageSelected');
}


toolbar
{
	background-color:transparent;
	color:black;
}

toolbar.disabled
{
	color:darkgray;
}

toolbar.vertical
{
	padding-top:3px;
	padding-bottom:3px;
	layout:center;
}

toolbar.vertical item
{
	width:40px;
	height:34px;
	icon-width:32;
	icon-height:32;
	text-gap:3;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
}

toolbar.horizontal
{
	layout:left;
	padding-left:3px;
}

toolbar.horizontal item
{
	height:34px;
	padding-right:5px;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:1px;
	text-gap:3;
	icon-width:16;
	icon-height:16;
}

toolbar item
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch;
	color:black;
}

toolbar item:normal
{
	border-image-source:url('res:ToolBarButtonNormal'); 
}

toolbar item:hot
{
	border-image-source:url('res:ToolBarButtonHot'); 
}

toolbar item:pressed
{
	border-image-source:url('res:ToolBarButtonPressed'); 
}

toolbar item:on
{
	border-image-source:url('res:ToolBarButtonPressed'); 
}

toolbar item:disabled
{
	border-image-source:url('res:ToolBarButtonNormal');
	color:darkgray;
}


tooltip
{
	border-image-source:url('res:Tooltip');
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
	border-left: 5px;
	border-top: 7px;
	border-right: 5px;
	border-bottom: 6px;
}

window
{
	background-color: #d0d0d0;
	border-image-source:url('res:WindowBackdrop');
	bg-image-sizing:repear;
 }

window caption
{
	border-image-source:url('res:WindowActive');
	border-image-slice:6 8 0 8 fill;
	border-image-width:6px 8px 0px 8px;
	border-image-repeat:stretch; 
	height:22px;
}

window frameleft
{
	border-image-source:url('res:WindowFrameLeftActive');
	border-image-slice:0 0 0 4 fill;
	border-image-width:0px 0px 0px 4px;
	border-image-repeat:stretch; 
	width:5px;
}

window frameright
{
	border-image-source:url('res:WindowFrameRightActive');
	border-image-slice:0 4 0 0 fill;
	border-image-width:0px 4px 0px 0px;
	border-image-repeat:stretch; 
	width:5px;
}

window framebottom
{
	border-image-source:url('res:WindowFrameBottomActive');
	border-image-slice:0 8 5 8 fill;
	border-image-width:0px 8px 5px 8px;
	border-image-repeat:stretch; 
	height:5px;
}


window buttonclose
{
	width:25px;
	height:15px;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:scroll; 
}

window buttonclose:normal
{
	background-image:url('res:WindowCloseButtonActiveNormal'); 
}

window buttonclose:hot
{
	background-image:url('res:WindowCloseButtonActiveHot'); 
}

window buttonclose:pressed
{
	background-image:url('res:WindowCloseButtonActivePressed'); 
}

window buttonclose:disabled
{
	background-image:url('res:WindowCloseButtonActiveDisabled'); 
}

