window
{
	bg-color: #e0dfe3;
}

slider slidertrack.horizontal
{
	bg-image:SliderTrackNormal;
	preferred-width:22;
	preferred-height:4;
	bg-image-sizing:stretch; 
}

slider slidertrack_start.horizontal
{
	bg-image:SliderTrackStartNormal;
	preferred-width:4;
	preferred-height:4;
	bg-image-sizing:stretch; 	
	gap-width:5;
}

slider slidertrack_end.horizontal
{
	bg-image:SliderTrackEndNormal;
	preferred-width:4;
	preferred-height:4;
	bg-image-sizing:stretch; 
	gap-width:8;
}


slider sliderthumb.horizontal
{
	preferred-width:11;
	preferred-height:17;
}

slider sliderthumb.horizontal:normal
{
	bg-image:SliderThumbNormal; 
}

slider sliderthumb.horizontal:hot
{
	bg-image:SliderThumbHot;
}

slider sliderthumb.horizontal:disabled
{
	bg-image:SliderThumbDisabled;
}


slider.possible_css_values
{
	margin-top:0;
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
	border-color:Aqua;
	padding-top:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:0;
	bg-image:resource_sprite_name; 
	bg-image-sizing:default | stretch | repeat | repeat-x | repeat-y; 
	bg-image-sizing-top:0;
	bg-image-sizing-left:0;
	bg-image-sizing-right:0;
	bg-image-sizing-bottom:0;
	text-color:#000000;
	text-font:resource_font_name;
}
