grid window-frame
{
	bg-image:WindowFrame; 
	bg-image-sizing-left:8;
	bg-image-sizing-right:25;
	bg-image-sizing-top:30;
	bg-image-sizing-bottom:25;
	bg-image-sizing:stretch; 
	border-left:8;
	border-right:16;
	border-top:30;
	border-bottom:16;
}

window#editor
{
	bg-image:MainMenuBg;
}

viewborder
{
	bg-image-sizing-left:1;
	bg-image-sizing-right:1;
	bg-image-sizing-top:1;
	bg-image-sizing-bottom:1;
	bg-image-sizing:stretch; 
	border-left:1;
	border-right:0;
	border-top:0;
	border-bottom:0;
	bg-image:ViewBorder; 
}

statusbar
{
    bg-image:StatusbarComponent;
	bg-image-sizing-left:0;
	bg-image-sizing-right:0;
	bg-image-sizing-top:6;
	bg-image-sizing-bottom:0;
	bg-image-sizing:stretch; 
	border-left:7;
	border-right:7;
	border-top:7;
	border-bottom:1;
}

label.properties_header
{
	text-color:white;
	bg-color:#316ac5;
	preferred-height:16;
	padding-left:4;
}

label.properties_info
{
	text-color:gray;
	bg-color:#eeee53;
	preferred-height:16;
	padding-left:4;
	padding-top:5;
	padding-bottom:5;
	padding-right:5;
}

label.properties
{
	bg-color:white;
	preferred-width:80;
	preferred-height:22;
	padding-left:4;
	text-color:blue;

	border-color:gray;
	border-bottom:1;
	border-left:1;
	border-top:1;
}

lineedit.properties
{
	bg-image:;
	bg-color:white;
	preferred-height:22;

	padding-left:4;
	padding-right:16;
	
	border-color:gray;
	border-left:1;
	border-bottom:1;
	border-right:1;
	border-top:1;
}

lineedit.properties:disabled
{
	text-color:gray;
	bg-color:#f4f4f4;
}

textedit.properties
{
	bg-image:;
	bg-color:white;
	preferred-height:22;

	padding-left:4;
	padding-right:16;
	
	border-color:gray;
	border-left:1;
	border-bottom:1;
	border-right:1;
	border-top:1;
}

textedit.properties:disabled
{
	text-color:gray;
	bg-color:#f4f4f4;
}

checkbox.properties
{
	bg-image:;
	bg-color:white;
	preferred-height:22;

	padding-top:3;
	padding-left:4;
	padding-right:16;
	
	border-color:gray;
	border-left:1;
	border-bottom:1;
	border-right:1;
	border-top:1;
}

toolbar.horizontal
{
    bg-image:ToolbarHorz;
	bg-image-sizing-left:4;
	bg-image-sizing-right:4;
	bg-image-sizing-top:0;
	bg-image-sizing-bottom:4;
	bg-image-sizing:stretch; 
	preferred-height:31;
	border-left:1;
	border-right:1;
	border-top:3;
	border-bottom:3;
	padding-left:1;
}

toolbar.horizontal item
{
	border-left:1;
	border-right:1;
	border-top:2;
	border-bottom:2;
	preferred-height:24;
	padding-right:5;
	padding-left:5;
	padding-top:1;
	padding-bottom:1;
	text-gap:3;
	icon-width:16;
	icon-height:16;
}

toolbar.horizontal item:hot
{
    bg-image:ToolbarHorzItemHot;
	bg-image-sizing-left:4;
	bg-image-sizing-right:4;
	bg-image-sizing-top:2;
	bg-image-sizing-bottom:2;
}

toolbar.vertical
{
    bg-image:;
    bg-color:white;
	border-left:0;
	border-right:0;
	border-top:0;
	border-bottom:0;
	padding-top:0;
}

toolbar.vertical item
{
	border-left:7;
	border-right:7;
}

toolbar.vertical item:hot
{
    bg-image:ToolbarVertItemHot;
	bg-image-sizing-left:4;
	bg-image-sizing-right:4;
	bg-image-sizing-top:2;
	bg-image-sizing-bottom:2;
}

toolbar.vertical item:pressed
{
    bg-image:ToolbarVertItemSelected;
	bg-image-sizing-left:4;
	bg-image-sizing-right:4;
	bg-image-sizing-top:2;
	bg-image-sizing-bottom:2;
}

toolbar.vertical#tools
{
	layout:left;
}

toolbar.vertical#tools item
{
/*	padding-top:1;
	padding-bottom:0;
	padding-left:3;*/
	text-gap:4;
	icon-width:24;
	icon-height:24;
	preferred-height:26;
}

property-component 
{
	bg-image:PropertyComponent; 

	bg-image-sizing-left:3;
	bg-image-sizing-right:3;
	bg-image-sizing-top:3;
	bg-image-sizing-bottom:3;
	bg-image-sizing:stretch; 
	
	border-top:1;
	border-left:1;
	border-right:1;
	border-bottom:1;
}

property-component header
{
	bg-image:ListViewHeader;
	bg-image-sizing-left:2;
	bg-image-sizing-right:2;
	bg-image-sizing-top:2;
	bg-image-sizing-bottom:2;
	bg-image-sizing:stretch;
	
	preferred-height: 20;
}

property-component header name
{
	bg-image:ListViewColumnHeaderNormal;
	bg-image-sizing-left:2;
	bg-image-sizing-right:3;
	bg-image-sizing-top:9;
	bg-image-sizing-bottom:14;
	bg-image-sizing:stretch;
	
	border-top:3;
	border-left:7;
	border-right:3;
	border-bottom:3;
}

property-component header value
{
	bg-image:ListViewColumnHeaderNormal;
	bg-image-sizing-left:2;
	bg-image-sizing-right:3;
	bg-image-sizing-top:9;
	bg-image-sizing-bottom:14;
	bg-image-sizing:stretch;
	
	border-top:3;
	border-left:7;
	border-right:3;
	border-bottom:3;
}

property-component row
{
	bg-color:#ffffff;
	border-top:0;
	border-bottom:0;
}

property-component row:alternate
{
	bg-color:#eeeeee;
	border-top:0;
	border-bottom:0;
}

property-component item name
{
	text-color:black;
    
	preferred-width:100;
	preferred-height:17;

	padding-top:2;
	padding-left:4;
	padding-right:0;
	padding-bottom:0;
}

property-component item value
{
	text-color:black;
    
	preferred-width:100;
	preferred-height:17;

	padding-top:2;
	padding-left:4;
	padding-right:0;
	padding-bottom:0;
}
