grid window-frame
{
	border-image-source:url('res:WindowFrame'); 
	border-image-slice:30 9 9 9 fill;
	border-image-width:30px 9px 9px 9px;
	border-image-repeat:stretch; 

	border-left:9px;
	border-right:9px;
	border-top:30px;
	border-bottom:9px;
}

window#editor
{
	border-image-source:url('res:MainMenuBg'); 
}

viewborder
{
	border-image-slice:1 1 1 1 fill;
	border-image-width:1px 1px 1px 1px;
	border-image-repeat:stretch; 

	border-left:1px;
	border-right:0px;
	border-top:0px;
	border-bottom:0px;
	border-image-source:url('res:ViewBorder'); 
}

statusbar
{
    border-image-source:url('res:StatusbarComponent'); 
	border-image-slice:6 0 0 0 fill;
	border-image-width:6px 0px 0px 0px;
	border-image-repeat:stretch; 

	border-left:7px;
	border-right:7px;
	border-top:7px;
	border-bottom:1px;
}

label.properties_header
{
	color:white;
	background-color:#316ac5;
	height:16px;
	padding-left:4px;
}

label.properties_info
{
	color:gray;
	background-color:#eeee53;
	height:16px;
	padding-left:4px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:5px;
}

label.properties
{
	background-color:white;
	width:80px;
	height:22px;
	padding-left:4;
	color:blue;

	border-color:gray;
	border-bottom:1px;
	border-left:1px;
	border-top:1px;
}

lineedit.properties
{
	border-image-source:;
	background-color:white;
	height:22px;

	padding-left:4px;
	padding-right:16px;
	
	border-color:gray;
	border-left:1px;
	border-bottom:1px;
	border-right:1px;
	border-top:1px;
}

lineedit.properties:disabled
{
    color:gray;
    background-color:#f4f4f4;
}


checkbox.properties
{
	border-image-source:;
	background-color:white;
	height:22px;

	padding-top:3px;
	padding-left:4px;
	padding-right:16px;
	
	border-color:gray;
	border-left:1px;
	border-bottom:1px;
	border-right:1px;
	border-top:1px;
}

toolbar.horizontal
{
    border-image-source:url('res:ToolbarHorz');
	border-image-slice:0 4 4 4 fill;
	border-image-width:0px 4px 4px 4px;
	border-image-repeat:stretch; 
	height:31px;
	border-left:1px;
	border-right:1px;
	border-top:3px;
	border-bottom:3px;
	padding-left:1px;
}

toolbar.horizontal item
{
	border-left:1px;
	border-right:1px;
	border-top:2px;
	border-bottom:2px;
	height:24px;
	padding-right:5px;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:1px;
	text-gap:3px;
	icon-width:16px;
	icon-height:16px;
}

toolbar.horizontal item:hot
{
    border-image-source:url('res:ToolbarHorzItemHot'); 
	border-image-slice:2 4 2 4 fill;
	border-image-width:2px 4px 2px 4px;
	border-image-repeat:stretch; 
}

toolbar.vertical
{
    border-image-source:
    background-color:white;
	border-left:0px;
	border-right:0px;
	border-top:0px;
	border-bottom:0px;
	padding-top:0px;
}

toolbar.vertical item
{
	border-left:7px;
	border-right:7px;
}

toolbar.vertical item:hot
{
    border-image-source:url('res:ToolbarVertItemHot'); 
	border-image-slice:2 4 2 4 fill;
	border-image-width:2px 4px 2px 4px;
	border-image-repeat:stretch; 
}

toolbar.vertical item:pressed
{
    border-image-source:url('res:ToolbarVertItemSelected'); 
	border-image-slice:2 4 2 4 fill;
	border-image-width:2px 4px 2px 4px;
	border-image-repeat:stretch; 
}

toolbar.vertical#tools
{
	layout:left;
}

toolbar.vertical#tools item
{
	text-gap:4px;
	icon-width:24px;
	icon-height:24px;
	height:26px;
}

property-component 
{
	border-image-source:url('res:PropertyComponent'); 

	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 
	
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
}

property-component header
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 	
	height: 20px;
}

property-component header name
{
	border-image-source:url('res:ListViewColumnHeaderNormal'); 
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch; 	

	bg-image-sizing-left:2px;
	bg-image-sizing-right:3px;
	bg-image-sizing-top:9px;
	bg-image-sizing-bottom:14px;
	bg-image-sizing:stretch;
	
	border-top:3px;
	border-left:7px;
	border-right:3px;
	border-bottom:3px;
}

property-component header value
{
	border-image-source:url('res:ListViewColumnHeaderNormal'); 
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch; 	
	
	border-top:3px;
	border-left:7px;
	border-right:3px;
	border-bottom:3px;
}

property-component row
{
	background-color:#ffffff;
	border-top:0px;
	border-bottom:0px;
}

property-component row:alternate
{
	background-color:#eeeeee;
	border-top:0px;
	border-bottom:0px;
}

property-component item name
{
	color:black;
    
	width:100px;
	height:17px;

	padding-top:2px;
	padding-left:4px;
	padding-right:0px;
	padding-bottom:0px;
}

property-component item value
{
	color:black;
    
	width:100px;
	height:17px;

	padding-top:2px;
	padding-left:4px;
	padding-right:0px;
	padding-bottom:0px;
}
