toolbar
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;

	background-image:url('res:ToolbarBackground'); 
	start-x: 6;
	start-y: 11;
	offset-x: 44;
}
