
lineedit
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 
	
	border-top:0px;
	border-left:6px;
	border-right:16px;
	border-bottom:0px;

	color:black;
}

lineedit:normal
{
	border-image-source:url('res:LineEditNormal'); 
}

lineedit:hot
{
	border-image-source:url('res:LineEditHot');
}

lineedit:disabled
{
	border-image-source:url('res:LineEditDisabled'); 
	color:gray;
}

lineedit cursor
{
	width:1px;

	background-color: black;

	blink-time-on:1000;
	blink-time-off:1000;
	border-image-source:none;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

lineedit cursor:blink_on
{
	background-color: black;
}

lineedit cursor:blink_off
{
	background-color: white;
}

lineedit selection
{
	color: white;
	expand-top:-2;
	expand-bottom:-1;
	border-image-source:none;
	background-color: #316ac5;

	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

lineedit selection:disabled
{
	border-image-source:none;
	background-color: #7a96df;
}

lineedit selection:unfocused
{
	border-image-source:none;
	background-color: #7a96df;
}
