
listview 
{
	border-image-source:url('res:ListViewBorder'); 

	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch; 
	
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
}

listview row:details
{
	border-image-source:none; 
	indent-width:20;
	background-color:#eeeeee;

	border-top:0px;
	border-bottom:0px;
}

listview row:alternate
{
	border-image-source:none; 
	indent-width:20;
	background-color:#e2e2e2;

	border-top:0px;
	border-bottom:0px;
}

listview column
{
	border-image-source:none; 
	background-color:#f2f2f2;
}

listview row_opener:open
{
	border-image-source:url('res:ListViewRowOpenerClosed');
	height:9px;
	width:9px;
	offset-y:-2;
}

listview row_opener:closed
{
	border-image-source:url('res:ListViewRowOpenerOpen');
	height:9px;
	width:9px;
	offset-y:-2;
}

listview selection
{
	selection-margin-left:3px;
	selection-margin-right:4px;
	selection-margin-top:1;
	selection-margin-bottom:2;

	background-color:#316ac5;
	color:#f2e3f2;
}

listview selection:unfocused
{
	background-color:#ece9d8;
	color:black;
}

listview selection:normal
{
	text-decoration:none;
}

listview selection:hot
{
	text-decoration:underline;
}

listview icon_selection:normal
{
	border-image-source:url('res:ListViewIconSelection');

	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:stretch; 

	border-top:-3;
	border-left:-3;
	border-right:-3;
	border-bottom:-3;
}


listview columns_bg
{
	border-image-source:none;
	background-color:white;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;
}

listview row:icons
{
	border-image-source:none;
	background-color:#eeeeee;
}

listview cell:details:hot
{
	color:blue;
	text-decoration:underline;
}

listview cell:details:normal
{
	border-image-source:none; 
	background-color:;

	color:black;
	
	width:100px;
	height:17px;

	icon-width: 16;
	icon-height: 16;

	opener-icon-gap:6;
	icon-text-gap:5;
	icon-offset-y:0;

	padding-top:2px;
	padding-left:4px;
	padding-right:0px;
	padding-bottom:0px;

	line-edit-offset-left:6;
	line-edit-offset-top:2;
	line-edit-offset-bottom:2;
	line-edit-offset-right:14;
}

listview cell:icons:normal
{
   	border-image-source:none; 
	background-color:;

	width:70px;
	height:66px;

	icon-width: 32;
	icon-height: 32;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:0px;

	line-edit-offset-left:6;
	line-edit-offset-top:0;
	line-edit-offset-bottom:5;
	line-edit-offset-right:14;
}

listview cell:thumbnails:normal
{
	width:125px;
	height:119px;

	icon-width: 96;
	icon-height: 96;
	
	border-top:0px;
	border-left:0px;
	border-right:0px;
	border-bottom:3px;

	line-edit-offset-left:6;
	line-edit-offset-top:0;
	line-edit-offset-bottom:5;
	line-edit-offset-right:14;
}



listview_header
{
	border-image-source:url('res:ListViewHeader');
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch;
	
	height:20px;
	
/*	border-top:0px;
	border-left:3px;
	border-right:3px;
	border-bottom:3px;
*/
}

listview_header columnheader:normal
{
	border-image-source:url('res:ListViewColumnHeaderNormal');
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch;
	
	border-top:3px;
	border-left:7px;
	border-right:3px;
	border-bottom:3px;
}

listview_header columnheader:hot
{
	border-image-source:url('res:ListViewColumnHeaderHot');
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch;

	border-top:3px;
	border-left:7px;
	border-right:3px;
	border-bottom:3px;
}

listview_header columnheader:pressed
{
	border-image-source:url('res:ListViewColumnHeaderPressed');
	border-image-slice:9 3 14 2 fill;
	border-image-width:9px 3px 14px 2px;
	border-image-repeat:stretch;
	
	border-top:3px;
	border-left:8px;
	border-right:3px;
	border-bottom:3px;
}
