
popupmenu
{
	border-image-slice:4 4 4 32 fill;
	border-image-width:4px 4px 4px 32px;
	border-image-repeat:stretch; 
	border-image-source:url('res:PopupMenu');
	padding-top:2px;
	padding-bottom:2px;
	icon-column-width:30;
}

popupmenu row
{
	width:140px;
	height:20px;
	padding-left:2px;
	border-image-source:none;
}

popupmenu icon
{
	width:20px;
	height:20px;
	border-image-source:none;
}

popupmenu check
{
	width:20px;
	height:20px;
	border-image-source:url('res:PopupMenuChecked');
}

popupmenu check:disabled
{
	width:20px;
	height:20px;
	border-image-source:url('res:PopupMenuCheckedDisabled');
}

popupmenu label
{
	width:70px;
	height:20px;
	padding-left:2px;
	border-image-source:none;
}

popupmenu label:selected
{
}

popupmenu label:disabled
{
	color:darkgray;
}

popupmenu accel_label
{
	padding-left:20px;
	border-image-source:none;
}

popupmenu accel_label:disabled
{
	padding-left:20px;
	border-image-source:none;
	color:darkgray;
}

popupmenu row:selected
{
	border-image-slice:4 8 4 8 fill;
	border-image-width:4px 8px 4px 8px;
	border-image-repeat:stretch; 
	border-image-source:url('res:PopupMenuSelected');
}

popupmenu separator
{
	height:2px;
	padding-left:32px;

	border-image-slice:1 4 1 4 fill;
	border-image-width:1px 4px 1px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:PopupMenuSeparator');
}

popupmenu submenu_arrow
{
	width:24px;
	height:8px;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:PopupMenuSubmenuArrow');
}

popupmenu joiner
{
	no-draw:true;
}
