radiobutton
{
	color:black;
	text-gap:3;
}

radiobutton:disabled
{
	color:darkgray;
}

radiobutton checker
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	width:13px;
	height:13px;
}

radiobutton checker:checked:normal
{
	background-image:url('res:RadioButtonCheckedNormal'); 
}

radiobutton checker:checked:hot
{
	background-image:url('res:RadioButtonCheckedHot'); 
}

radiobutton checker:checked:pressed
{
	background-image:url('res:RadioButtonCheckedPressed'); 
}

radiobutton checker:checked:disabled
{
	background-image:url('res:RadioButtonCheckedDisabled'); 
}

radiobutton checker:unchecked:normal
{
	background-image:url('res:RadioButtonUncheckedNormal'); 
}

radiobutton checker:unchecked:hot
{
	background-image:url('res:RadioButtonUncheckedHot'); 
}

radiobutton checker:unchecked:pressed
{
	background-image:url('res:RadioButtonUncheckedPressed'); 
}

radiobutton checker:unchecked:disabled
{
	background-image:url('res:RadioButtonUncheckedDisabled'); 
}

radiobutton focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 
