radiobutton
{
	color:black;
	text-gap:3;
}

radiobutton:disabled
{
	color:darkgray;
}

radiobutton checker
{
	bg-image-sizing:center;
	width:13px;
	height:13px;
}

radiobutton checker:checked:normal
{
	border-image-source:url('res:RadioButtonCheckedNormal'); 
}

radiobutton checker:checked:hot
{
	border-image-source:url('res:RadioButtonCheckedHot'); 
}

radiobutton checker:checked:pressed
{
	border-image-source:url('res:RadioButtonCheckedPressed'); 
}

radiobutton checker:checked:disabled
{
	border-image-source:url('res:RadioButtonCheckedDisabled'); 
}

radiobutton checker:unchecked:normal
{
	border-image-source:url('res:RadioButtonUncheckedNormal'); 
}

radiobutton checker:unchecked:hot
{
	border-image-source:url('res:RadioButtonUncheckedHot'); 
}

radiobutton checker:unchecked:pressed
{
	border-image-source:url('res:RadioButtonUncheckedPressed'); 
}

radiobutton checker:unchecked:disabled
{
	border-image-source:url('res:RadioButtonUncheckedDisabled'); 
}

radiobutton focus
{
	border-image-slice:3 4 3 4 fill;
	bg-image-sizing:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 
