
dummy
{
}

ribbon
{
	border-image-source:url('res:Ribbon');
	width:271px;
	height:117px;
	/*height:95px;*/
	border-image-slice: 8 8 50 8;
	font-family:tahoma;
	font-size:11;
}

ribbon button.menu
{
	border-image-source:url('res:RibbonMenuButton');
	border-image-slice:0 0 0 0;
	bg-image-sizing:center;
	width:56px;
	height:22px;
	border-left:0;
	border-right:0;
	border-top:0;
	border-bottom:0;
}

ribbon button.menu:hot
{
	border-image-source:url('res:RibbonMenuButtonHot');
}

ribbon tab
{
	border-image-source:none;
	width:40px;
	height:23px;
	border-image-slice: 8 8 8 8;
	font-family:tahoma;
}

ribbon tab:selected
{
	border-image-source:url('res:RibbonTab');
}

ribbon tab-background
{
	border-image-source:url('res:RibbonTabBackground');
	border-image-slice: 120 120 54 8;
	font-family:tahoma;
}

ribbon-section
{
	border-image-source:url('res:RibbonSection');
	width:70px;
	height:87px;
	border-image-slice: 8 8 24 16;
}

ribbon-section button
{
	border-image-source:none;
	padding-left: 4;
	padding-right: 4;
	padding-top: 4;
	padding-bottom: 4;
	align: left;
}

ribbon-section button.big
{
	vertical-align:top;
	align: center;
}

ribbon-section button:hot
{
	border-image-source:url('res:RibbonButtonHot');
	border-image-slice: 8 8 1 1;
}

ribbon-section button:pressed
{
	border-image-source:url('res:RibbonButtonPressed');
	border-image-slice: 8 8 1 1;
}

ribbon-section button:toggled
{
	border-image-source:url('res:RibbonButtonToggled');
	border-image-slice: 8 8 1 1;
}

ribbon-section button:toggled:hot
{
	border-image-source:url('res:RibbonButtonHot');
	border-image-slice: 8 8 1 1;
}

ribbon-section button:toggled:pressed:hot
{
	border-image-source:url('res:RibbonButtonPressed');
	border-image-slice: 8 8 1 1;
}

ribbon-menu
{
	border-image-source:url('res:RibbonMenuBackground');
	border-image-slice: 222 2 27 22;
}

ribbon-menu menu-item
{
	width:216px;
	height:44px;
	font-family: Arial;
	font-size: -11;
}

ribbon-menu menu-item:selected
{
	border-image-source:url('res:RibbonMenuItemSelected');
}

ribbon-menu menu-item:separator
{
	border-image-source:url('res:RibbonMenuItemSeparator');
	width:217px;
	height:3px;
}

ribbon-section button.dropdown
{
	border-image-slice: 3 12 3 3;
	border-image-source:url('res:RibbonDropDownButton');
	padding-left: 4;
	padding-right: 12;
	padding-top: 4;
	padding-bottom: 4;
	align: right;
}

ribbon-section button.dropdown:hot
{
	border-image-source:url('res:RibbonDropDownButtonHot');
}

ribbon-section button.dropdown:pressed
{
	border-image-source:url('res:RibbonButtonPressed');
}

ribbon-section button.dropdown:pressed:toggled
{
	border-image-source:url('res:RibbonButtonPressed');
}

ribbon-section button.dropdown:toggled
{
	border-image-source:url('res:RibbonButtonToggled');
}

ribbon-section button.dropdown:hot:toggled
{
	border-image-source:url('res:RibbonDropDownButtonHot');
}

combobox.ribbon
{
	border-image-slice:3 3 3 3;
	bg-image-sizing:stretch; 
	border-image-source:url('res:ListViewBorder');
}

combobox lineedit.ribbon
{
	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch; 
	border-image-source:none;
	bg-color:;

	border-top:0;
	border-left:6;
	border-right:16;
	border-bottom:0;
	
	color:black;
	text-color-selected:white;
}

combobox lineedit.ribbon:normal
{
	border-image-source:none; 
}

combobox lineedit.ribbon:hot
{
	border-image-source:none;
}

combobox lineedit.ribbon:disabled
{
	border-image-source:none; 
	color:gray;
}

combobox.ribbon opener
{
	width:17px;
	height:20px;
	border-image-slice:5 5 6 6;
	bg-image-sizing:default;
	align:center;
	vertical-align:center;
}

combobox.ribbon opener:normal
{
	border-image-source:none; 
}

combobox.ribbon opener:hot
{
	border-image-source:url('res:ListViewBorder'); 
}

combobox.ribbon opener:pressed
{
	border-image-source:url('res:ListViewBorder'); 
}

combobox.ribbon opener:disabled
{
	border-image-source:url('res:ListViewBorder'); 
}

combobox.ribbon opener_glyph
{
	bg-image-sizing:center; 
	align:center;
	vertical-align:center;
}

combobox.ribbon opener_glyph:normal
{
	border-image-source:url('res:RibbonDropDownGlyph');
}

combobox.ribbon opener_glyph:hot
{
	border-image-source:url('res:RibbonDropDownGlyph'); 
}

combobox.ribbon opener_glyph:pressed
{
	border-image-source:url('res:RibbonDropDownGlyph'); 
}

combobox.ribbon opener_glyph:disabled
{
	border-image-source:url('res:RibbonDropDownGlyph'); 
}
