
scrollbar 
{
	no-draw:true;
	height:17px;
}

scrollbar scrolltrack.left
{
	border-image-slice:4 0 3 0 fill;
	border-image-width:4px 0px 3px 0px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.left:normal
{
	border-image-source:url('res:ScrollbarHoriTrackNormal'); 
}

scrollbar scrolltrack.left:hot
{
	border-image-source:url('res:ScrollbarHoriTrackHot'); 
}

scrollbar scrolltrack.left:pressed
{  
	border-image-source:url('res:ScrollbarHoriTrackPressed'); 
}

scrollbar scrolltrack.left:disabled
{
	border-image-source:url('res:ScrollbarHoriTrackDisabled'); 
}

scrollbar scrolltrack.right
{
	border-image-slice:4 0 3 0 fill;
	border-image-width:4px 0px 3px 0px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.right:normal
{
	border-image-source:url('res:ScrollbarHoriTrackNormal'); 
}

scrollbar scrolltrack.right:hot
{
	border-image-source:url('res:ScrollbarHoriTrackHot'); 
}

scrollbar scrolltrack.right:pressed
{
	border-image-source:url('res:ScrollbarHoriTrackPressed'); 
}

scrollbar scrolltrack.right:disabled
{
	border-image-source:url('res:ScrollbarHoriTrackDisabled'); 
}

scrollbar scrollthumb.horizontal
{
	border-image-slice:5 5 5 5 fill;
	border-image-width:5px 5px 5px 5px;
	border-image-repeat:stretch; 
}

scrollbar scrollthumb.horizontal:normal
{
	border-image-source:url('res:ScrollbarHoriThumbNormal'); 
}

scrollbar scrollthumb.horizontal:hot
{
	border-image-source:url('res:ScrollbarHoriThumbHot'); 
}

scrollbar scrollthumb.horizontal:pressed
{
	border-image-source:url('res:ScrollbarHoriThumbPressed'); 
}

scrollbar scrollthumb.horizontal:disabled
{
	border-image-source:url('res:ScrollbarHoriThumbDisabled'); 
}

scrollbar scrollthumbgripper.horizontal
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
}

scrollbar scrollthumbgripper.horizontal:normal
{
	background-image:url('res:ScrollbarHoriThumbGripperNormal'); 
}

scrollbar scrollthumbgripper.horizontal:hot
{
	background-image:url('res:ScrollbarHoriThumbGripperHot'); 
}

scrollbar scrollthumbgripper.horizontal:pressed
{
	background-image:url('res:ScrollbarHoriThumbGripperPressed'); 
}

scrollbar scrollthumbgripper.horizontal:disabled
{
	background-image:none; 
}

scrollbar scrollbutton.left
{
	width:17px;
	height:17px;
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch;
}

scrollbar scrollbutton.left:normal
{
	border-image-source:url('res:ScrollbarHoriButtonLeftNormal');
}

scrollbar scrollbutton.left:hot
{
	border-image-source:url('res:ScrollbarHoriButtonLeftHot'); 
}

scrollbar scrollbutton.left:pressed
{
	border-image-source:url('res:ScrollbarHoriButtonLeftPressed'); 
}

scrollbar scrollbutton.left:disabled
{
	border-image-source:url('res:ScrollbarHoriButtonLeftDisabled'); 
}

scrollbar scrollbutton.right
{
	width:17px;
	height:17px;
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch;
}

scrollbar scrollbutton.right:normal
{
	border-image-source:url('res:ScrollbarHoriButtonRightNormal'); 
}

scrollbar scrollbutton.right:hot
{
	border-image-source:url('res:ScrollbarHoriButtonRightHot'); 
}

scrollbar scrollbutton.right:pressed
{
	border-image-source:url('res:ScrollbarHoriButtonRightPressed'); 
}

scrollbar scrollbutton.right:disabled
{
	border-image-source:url('res:ScrollbarHoriButtonRightDisabled');
}

