
spin 
{
	border-image-source:none;
	width:42px;
	height:21px;

	border-image-slice:0 0 0 0 fill;
	border-image-width:0px 0px 0px 0px;
	border-image-repeat:stretch; 	

	color:black;
}

spin:disabled
{
	color:darkgray;
}

spin button_up
{
	width:16px;
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 	
}

spin button_up:normal
{
	border-image-source:url('res:SpinButtonUpNormal');
}

spin button_up:hot
{
	border-image-source:url('res:SpinButtonUpHot');
}

spin button_up:pressed
{
	border-image-source:url('res:SpinButtonUpPressed');
}

spin button_up:disabled
{
	border-image-source:url('res:SpinButtonUpDisabled');
}

spin arrow_up:normal
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowUpNormal');
}

spin arrow_up:hot
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowUpNormal');
}

spin arrow_up:pressed
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowUpNormal');
}

spin arrow_up:disabled
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowUpDisabled');
}

spin button_down
{
	width:16px;
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 	
}

spin button_down:normal
{
	border-image-source:url('res:SpinButtonDownNormal');
}

spin button_down:hot
{
	border-image-source:url('res:SpinButtonDownHot');
}

spin button_down:pressed
{
	border-image-source:url('res:SpinButtonDownPressed');
}

spin button_down:disabled
{
	border-image-source:url('res:SpinButtonDownDisabled');
}

spin arrow_down:normal
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowDownNormal');
}

spin arrow_down:hot
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowDownNormal');
}

spin arrow_down:pressed
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowDownNormal');
}

spin arrow_down:disabled
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	background-image:url('res:SpinArrowDownDisabled');
}
