
tab 
{
	border-image-source:url('res:TabBorder');	
	border-image-slice:1 4 3 1 fill;
	border-image-width:1px 4px 3px 1px;

	border-left:8px;
	border-right:8px;
	border-top:8px;
	border-bottom:8px;
}

tabheader
{
	border-image-source:url('res:TabHeaderBorder');	
	border-image-slice:1 4 2 1 fill;
	border-image-width:1px 4px 2px 1px;
	border-image-repeat:stretch;
	first-tab-x-offset: 0;
	height:20px;
}

tabheader focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
}

tabheader page
{
	border-image-slice:3 2 1 2 fill;
	border-image-width:3px 2px 1px 2px;
	padding-left:5px;
	padding-right:5px;
	align:center;
	
	width:45px;
	height:20px;
}

tabheader page:normal
{
	border-image-source:url('res:TabHeaderPageNormal');
}

tabheader page:hot
{
	border-image-source:url('res:TabHeaderPageHot');
}

tabheader page:selected
{
	border-image-source:url('res:TabHeaderPageSelected');
}
