
window
{
	background-color: #f0f0f0;
}

window caption
{
	border-image-source:url('res:WindowActive');
	border-image-slice:28 35 9 17 fill;
	border-image-repeat:stretch; 
	height:28px;
}

window frameleft
{
	border-image-source:url('res:WindowFrameLeftActive');
	border-image-slice:2 1 91 0 fill;
	border-image-repeat:stretch; 
	width:8px;
}

window frameright
{
	border-image-source:url('res:WindowFrameRightActive');
	border-image-slice:1 2 91 0 fill;
	border-image-repeat:stretch; 
	width:8px;
}

window framebottom
{
	border-image-source:url('res:WindowFrameBottomActive');
	border-image-slice:2 3 0 2 fill;
	border-image-repeat:stretch; 
	height:8px;
}

window buttonclose
{
	width:25px;
	height:15px;
	bg-image-sizing:center; 
}

window buttonclose:normal
{
	border-image-source:url('res:WindowCloseButtonActiveNormal'); 
}

window buttonclose:hot
{
	border-image-source:url('res:WindowCloseButtonActiveHot'); 
}

window buttonclose:pressed
{
	border-image-source:url('res:WindowCloseButtonActivePressed'); 
}

window buttonclose:disabled
{
	border-image-source:url('res:WindowCloseButtonActiveDisabled'); 
}
