
checkbox
{
	text-gap:3;
	padding-top:1px;
	padding-bottom:4px;
	color:black;
}

checkbox:disabled
{
	color:darkgray;
}

checkbox focus
{
	border-image-slice:3 4 4 3 fill;
	border-image-width:3px 4px 4px 3px;
	border-image-repeat:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 

checkbox checker
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	width:13px;
	height:13px;
}

checkbox checker:checked:normal
{
	background-image:url('res:CheckBoxCheckedNormal'); 
}

checkbox checker:checked:hot
{
	background-image:url('res:CheckBoxCheckedHot'); 
}

checkbox checker:checked:pressed
{
	background-image:url('res:CheckBoxCheckedPressed'); 
}

checkbox checker:checked:disabled
{
	background-image:url('res:CheckBoxCheckedDisabled'); 
}

checkbox checker:unchecked:normal
{
	background-image:url('res:CheckBoxUncheckedNormal'); 
}

checkbox checker:unchecked:pressed
{
	background-image:url('res:CheckBoxUncheckedPressed');
}

checkbox checker:unchecked:disabled
{
	background-image:url('res:CheckBoxUncheckedDisabled'); 
}

checkbox checker:unchecked:hot
{
	background-image:url('res:CheckBoxUncheckedHot'); 
}

checkbox checker:indeterminated:normal
{
	background-image:url('res:CheckBoxIndeterminatedNormal'); 
}

checkbox checker:indeterminated:pressed
{
	background-image:url('res:CheckBoxIndeterminatedPressed');
}

checkbox checker:indeterminated:disabled
{
	background-image:url('res:CheckBoxIndeterminatedDisabled'); 
}

checkbox checker:indeterminated:hot
{
	background-image:url('res:CheckBoxIndeterminatedHot'); 
}
