combobox lineedit
{
	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch; 

	border-top:0;
	border-left:6;
	border-right:16;
	border-bottom:0;
	
	color:black;
	text-color-selected:white;
}

combobox opener
{
	width:17px;
	height:21px;
	border-image-slice:5 5 6 6;
	bg-image-sizing:default;
	align:center;
	vertical-align:center;
}

combobox opener:normal
{
	border-image-source:url('res:ComboBoxDropDownButtonNormal'); 
}

combobox opener:hot
{
	border-image-source:url('res:ComboBoxDropDownButtonHot'); 
}

combobox opener:pressed
{
	border-image-source:url('res:ComboBoxDropDownButtonPressed'); 
}

combobox opener:disabled
{
	border-image-source:url('res:ComboBoxDropDownButtonDisabled'); 
}

combobox opener_glyph
{
	bg-image-sizing:center; 
	align:center;
	vertical-align:center;
}

combobox opener_glyph:normal
{
	border-image-source:url('res:ComboBoxDropDownButtonNormalGlyph'); 
}

combobox opener_glyph:hot
{
	border-image-source:url('res:ComboBoxDropDownButtonHotGlyph'); 
}

combobox opener_glyph:pressed
{
	border-image-source:url('res:ComboBoxDropDownButtonPressedGlyph'); 
}

combobox opener_glyph:disabled
{
	border-image-source:url('res:ComboBoxDropDownButtonDisabledGlyph'); 
}
