combobox lineedit
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch; 

	border-top:0px;
	border-left:6px;
	border-right:16px;
	border-bottom:0px;
	
	color:black;
	text-color-selected:white;
}

combobox opener
{
	width:17px;
	height:21px;
	border-image-slice:6 5 6 5 fill;
	border-image-width:6px 5px 6px 5px;
	bg-image-sizing:default;
	align:center;
	vertical-align:center;
}

combobox opener:normal
{
	border-image-source:url('res:ComboBoxDropDownButtonNormal'); 
}

combobox opener:hot
{
	border-image-source:url('res:ComboBoxDropDownButtonHot'); 
}

combobox opener:pressed
{
	border-image-source:url('res:ComboBoxDropDownButtonPressed'); 
}

combobox opener:disabled
{
	border-image-source:url('res:ComboBoxDropDownButtonDisabled'); 
}

combobox opener_glyph
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
	align:center;
	vertical-align:center;
}

combobox opener_glyph:normal
{
	background-image:url('res:ComboBoxDropDownButtonNormalGlyph'); 
}

combobox opener_glyph:hot
{
	background-image:url('res:ComboBoxDropDownButtonHotGlyph'); 
}

combobox opener_glyph:pressed
{
	background-image:url('res:ComboBoxDropDownButtonPressedGlyph'); 
}

combobox opener_glyph:disabled
{
	background-image:url('res:ComboBoxDropDownButtonDisabledGlyph'); 
}
