frame
{
	width:100px;
	height:100px;

	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 

	color:blue;
}

frame header
{
	height:16px;
	
	border-image-source:url('res:FrameHeader'); 
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
}

frame headerleft
{
	width:10px;
	height:16px;
	
	border-image-source:url('res:FrameHeaderLeft');
	border-image-slice:2 4 13 4 fill;
	border-image-width:2px 4px 13px 4px;
	border-image-repeat:stretch; 
}

frame headerright
{
	border-image-source:url('res:FrameHeaderRight');
	border-image-slice:2 4 13 4 fill;
	border-image-width:2px 4px 13px 4px;
	border-image-repeat:stretch; 
}

frame headercaption
{
	border-image-source:url('res:FrameHeaderCaption');
	border-image-slice:2 4 13 4 fill;
	border-image-width:2px 4px 13px 4px;
	border-image-repeat:stretch; 
	
	border-left:4px;
	border-right:4px;
}

frame body
{
	border-image-source:url('res:Frame'); 
	
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
}
