
lineedit
{
	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch; 
	
	border-top:0;
	border-left:6;
	border-right:16;
	border-bottom:0;

	color:black;
}

lineedit:normal
{
	border-image-source:url('res:LineEditNormal'); 
}

lineedit:hot
{
	border-image-source:url('res:LineEditHot');
}

lineedit:disabled
{
	border-image-source:url('res:LineEditDisabled'); 
	color:gray;
}

lineedit cursor
{
	width:1px;

	bg-color: black;

	blink-time-on:1000;
	blink-time-off:1000;
	border-image-source:none;
	
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
}

lineedit cursor:blink_on
{
	bg-color: black;
}

lineedit cursor:blink_off
{
	bg-color: white;
}

lineedit selection
{
	color: white;
	expand-top:-2;
	expand-bottom:-1;
	border-image-source:none;
	bg-color: #316ac5;

	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
}

lineedit selection:disabled
{
	border-image-source:none;
	bg-color: #7a96df;
}

lineedit selection:unfocused
{
	border-image-source:none;
	bg-color: #7a96df;
}
