
menubar
{
	border-image-slice:9 1 15 1 fill;
	border-image-width:9px 1px 15px 1px;
	border-image-repeat:stretch;
	border-image-source:url('res:MenuBarBackgroundActive'); 

	width:100px;
	height:24px;

	color:black;
}

menubar item
{
	padding-left:8px;
	padding-right:8px;
	align:center;
	vertical-align:center;
}

menubar item:disabled
{
	color:darkgray;
}

menubar item:selected
{
	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:MenuBarItemSelected');
}

menubar item:hot
{
	/*margin-top:3;*/

	border-image-slice:4 4 4 4 fill;
	border-image-width:4px 4px 4px 4px;
	border-image-repeat:stretch; 
	border-image-source:url('res:MenuBarItemSelected');
}
