
button
{
	border-image-slice:5 5 6 6 fill;
	border-image-width:5px 5px 6px 6px;
	bg-image-sizing:default;
	color:black;
	align:center;
	vertical-align:center;
}

button:normal
{
	border-image-source:url('res:ButtonNormal'); 
}

button:defaulted
{
	border-image-source:url('res:ButtonDefaulted'); 
}

button:hot
{
	border-image-source:url('res:ButtonHot'); 
}

button:pressed
{
	border-image-source:url('res:ButtonPressed'); 
}

button:disabled
{
	border-image-source:url('res:ButtonDisabled'); 
	color:darkgray;
}

button focus
{
	border-image-slice:8 8 8 9 fill;
	border-image-width:8px 8px 8px 9px;
	bg-image-sizing:repeat;
	border-image-source:url('res:ButtonFocus');
}
