
scrollbar 
{
	no-draw:true;
	width:17px;
}

scrollbar scrolltrack.up
{
	border-image-slice:0 1 0 1 fill;
	border-image-width:0px 1px 0px 1px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.up:normal
{
	border-image-source:url('res:ScrollbarVertTrackNormal'); 
}

scrollbar scrolltrack.up:hot
{
	border-image-source:url('res:ScrollbarVertTrackHot'); 
}

scrollbar scrolltrack.up:pressed
{
	border-image-source:url('res:ScrollbarVertTrackPressed'); 
}

scrollbar scrolltrack.up:disabled
{
	border-image-source:url('res:ScrollbarVertTrackDisabled'); 
}

scrollbar scrolltrack.down
{
	border-image-slice:0 1 0 1 fill;
	border-image-width:0px 1px 0px 1px;
	border-image-repeat:stretch; 
}

scrollbar scrolltrack.down:normal
{
	border-image-source:url('res:ScrollbarVertTrackNormal'); 
}

scrollbar scrolltrack.down:hot
{
	border-image-source:url('res:ScrollbarVertTrackHot'); 
}

scrollbar scrolltrack.down:pressed
{
	border-image-source:url('res:ScrollbarVertTrackPressed'); 
}

scrollbar scrolltrack.down:disabled
{
	border-image-source:url('res:ScrollbarVertTrackDisabled'); 
}

scrollbar scrollthumb.vertical
{
	border-image-slice:5 5 5 5 fill;
	border-image-width:5px 5px 5px 5px;
	border-image-repeat:stretch; 
}

scrollbar scrollthumb.vertical:normal
{
	border-image-source:url('res:ScrollbarVertThumbNormal'); 
}

scrollbar scrollthumb.vertical:hot
{
	border-image-source:url('res:ScrollbarVertThumbHot'); 
}

scrollbar scrollthumb.vertical:pressed
{
	border-image-source:url('res:ScrollbarVertThumbPressed'); 
}

scrollbar scrollthumb.vertical:disabled
{
	border-image-source:url('res:ScrollbarVertThumbDisabled'); 
}

scrollbar scrollthumbgripper.vertical
{
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
}

scrollbar scrollthumbgripper.vertical:normal
{
	background-image:url('res:ScrollbarVertThumbGripperNormal'); 
}

scrollbar scrollthumbgripper.vertical:hot
{
	background-image:url('res:ScrollbarVertThumbGripperHot'); 
}

scrollbar scrollthumbgripper.vertical:pressed
{
	background-image:url('res:ScrollbarVertThumbGripperPressed'); 
}

scrollbar scrollthumbgripper.vertical:disabled
{
	background-image:none; 
}

scrollbar scrollbutton.up
{
	width:17px;
	height:17px;
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch;
}

scrollbar scrollbutton.up:normal
{
	border-image-source:url('res:ScrollbarVertButtonUpNormal');
}

scrollbar scrollbutton.up:hot
{
	border-image-source:url('res:ScrollbarVertButtonUpHot'); 
}

scrollbar scrollbutton.up:pressed
{
	border-image-source:url('res:ScrollbarVertButtonUpPressed'); 
}

scrollbar scrollbutton.up:disabled
{
	border-image-source:url('res:ScrollbarVertButtonUpDisabled'); 
}

scrollbar scrollbutton.down
{
	width:17px;
	height:17px;
	border-image-slice:3 3 3 3 fill;
	border-image-width:3px 3px 3px 3px;
	border-image-repeat:stretch;
}

scrollbar scrollbutton.down:normal
{
	border-image-source:url('res:ScrollbarVertButtonDownNormal'); 
}

scrollbar scrollbutton.down:hot
{
	border-image-source:url('res:ScrollbarVertButtonDownHot'); 
}

scrollbar scrollbutton.down:pressed
{
	border-image-source:url('res:ScrollbarVertButtonDownPressed'); 
}

scrollbar scrollbutton.down:disabled
{
	border-image-source:url('res:ScrollbarVertButtonDownDisabled'); 
}
