
slider
{
	color:black;
	height:22px;
	width:22px;
}

slider:disabled
{
	color:darkgray;
}

slider focus
{
	border-image-slice:3 4 3 4;
	bg-image-sizing:repeat;
	border-image-source:url('res:FocusDottedLine'); 
} 


slider slidertrack.horizontal
{
	height:4px;
	border-image-slice:1 2 1 1;
	bg-image-sizing:stretch; 
	border-image-source:url('res:SliderHorizontalTrack');
}

slider sliderthumb.horizontal
{
	width:11px;
	height:17px;
	border-image-slice:2 3 9 9;
	bg-image-sizing:stretch; 
}

slider sliderthumb.horizontal:normal
{
	border-image-source:url('res:SliderHorizontalThumbNormal'); 
}

slider sliderthumb.horizontal:hot
{
	border-image-source:url('res:SliderHorizontalThumbHot');
}

slider sliderthumb.horizontal:disabled
{
	border-image-source:url('res:SliderHorizontalThumbDisabled');
}

slider slidertrack.vertical
{
	width:4px;
	border-image-slice:1 1 1 2;
	bg-image-sizing:stretch; 
	border-image-source:url('res:SliderVerticalTrack');
}

slider sliderthumb.vertical
{
	width:17px;
	height:11px;
	border-image-slice:2 3 5 5;
	bg-image-sizing:stretch; 
}

slider sliderthumb.vertical:normal
{
	border-image-source:url('res:SliderVerticalThumbNormal'); 
}

slider sliderthumb.vertical:hot
{
	border-image-source:url('res:SliderVerticalThumbHot');
}

slider sliderthumb.vertical:disabled
{
	border-image-source:url('res:SliderVerticalThumbDisabled');
}
