textedit
{
	border-image-slice:2 2 2 2;
	bg-image-sizing:stretch; 
	
	border-color:gray;
	border-left:1;
	border-bottom:1;
	border-right:1;
	border-top:1;
	
	padding-top:3px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:3px;

	color:black;
}

textedit:normal
{
	border-image-source:none; 
	bg-color: white;
}

textedit:hot
{
	border-image-source:none;
	bg-color: white;
}

textedit:disabled
{
	border-image-source:none; 
	color:gray;
	border-color:#afafaf;
}

textedit cursor
{
	width:1px;

	bg-color: black;

	blink-time-on:1000;
	blink-time-off:1000;
	border-image-source:none;
	
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
}

textedit cursor:blink_on
{
	bg-color: black;
}

textedit cursor:blink_off
{
	bg-color: white;
}

textedit selection
{
	color: white;
	expand-top:-2;
	expand-bottom:-1;
	border-image-source:none;
	bg-color: #316ac5;

	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom:0;
}

textedit selection:disabled
{
	border-image-source:none;
	bg-color: #7a96df;
}

textedit selection:unfocused
{
	border-image-source:none;
	bg-color: #7a96df;
}
