@import "window.css";
@import "checkbox.css";
@import "combobox.css";
@import "pushbutton.css";
@import "listview.css";
@import "lineedit.css";
@import "textedit.css";
@import "radiobutton.css";
@import "slider.css";
@import "label.css";
@import "scrollbar_vertical.css";
@import "scrollbar_horizontal.css";
@import "popupmenu.css";
@import "tab.css";
@import "tabpage.css";
@import "menubar.css";
@import "statusbar.css";
@import "toolbar.css";
@import "frame.css";
@import "spin.css";
@import "image.css";
@import "progressbar.css";
@import "groupbox.css";
@import "tooltip.css";
@import "messagebox.css";
@import "ribbon.css";

*
{
	display:flex;
	font-weight:normal;
	font-style:normal;
	font-size:11px;
	font-family:"Tahoma";

}