
toolbar
{
	background-color:transparent;
	color:black;
}

toolbar.disabled
{
	color:darkgray;
}

toolbar.vertical
{
	padding-top:3px;
	padding-bottom:3px;
	layout:center;
}

toolbar.vertical item
{
	width:40px;
	height:34px;
	icon-width:32;
	icon-height:32;
	text-gap:3;
	padding-right:4px;
	padding-top:1px;
	padding-bottom:1px;
}

toolbar.horizontal
{
	layout:left;
	padding-left:3px;
}

toolbar.horizontal item
{
	height:34px;
	padding-right:5px;
	padding-left:5px;
	padding-top:1px;
	padding-bottom:1px;
	text-gap:3;
	icon-width:16;
	icon-height:16;
}

toolbar item
{
	border-image-slice:2 2 2 2 fill;
	border-image-width:2px 2px 2px 2px;
	border-image-repeat:stretch;
	color:black;
}

toolbar item:normal
{
	border-image-source:url('res:ToolBarButtonNormal'); 
}

toolbar item:hot
{
	border-image-source:url('res:ToolBarButtonHot'); 
}

toolbar item:pressed
{
	border-image-source:url('res:ToolBarButtonPressed'); 
}

toolbar item:on
{
	border-image-source:url('res:ToolBarButtonPressed'); 
}

toolbar item:disabled
{
	border-image-source:url('res:ToolBarButtonNormal');
	color:darkgray;
}
