
window
{
	background-color: #f0f0f0;
}

window caption
{
	border-image-source:url('res:WindowActive');
	border-image-slice:9 35 17 28 fill;
	border-image-width:9px 35px 17px 28px;
	border-image-repeat:stretch; 
	height:28px;
}

window frameleft
{
	border-image-source:url('res:WindowFrameLeftActive');
	border-image-slice:91 1 0 2 fill;
	border-image-width:91px 1px 0px 2px;
	border-image-repeat:stretch; 
	width:8px;
}

window frameright
{
	border-image-source:url('res:WindowFrameRightActive');
	border-image-slice:91 2 0 1 fill;
	border-image-width:91px 2px 0px 1px;
	border-image-repeat:stretch; 
	width:8px;
}

window framebottom
{
	border-image-source:url('res:WindowFrameBottomActive');
	border-image-slice:0 3 2 2 fill;
	border-image-width:0px 3px 2px 2px;
	border-image-repeat:stretch; 
	height:8px;
}

window buttonclose
{
	width:25px;
	height:15px;
	background-position:center center;
	background-repeat:no-repeat;
	background-attachment:fixed; 
}

window buttonclose:normal
{
	background-image:url('res:WindowCloseButtonActiveNormal'); 
}

window buttonclose:hot
{
	background-image:url('res:WindowCloseButtonActiveHot'); 
}

window buttonclose:pressed
{
	background-image:url('res:WindowCloseButtonActivePressed'); 
}

window buttonclose:disabled
{
	background-image:url('res:WindowCloseButtonActiveDisabled'); 
}
