
window
{
	background-color:white;
}

calendar:
{
	background-color:transparent;
	border-color:transparent;
	color:black;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;

}

calendar day_name
{
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
	padding-top:1px;
	padding-left:3px;
	padding-right:0px;
	padding-bottom:1px;
	
	width:24px;
	height:16px;
}

calendar day
{
	background-color:#ffffff;
	border-color:transparent;
	border-top:1px;
	border-left:1px;
	border-right:1px;
	border-bottom:1px;
	padding-right:3px;
	width:24px;
	height:15px;
}

calendar day:hot
{
	background-color:#ffffff;
	border-color:#ccddee;
}

calendar day:today
{
	background-color:#e0f0ff;
	border-color:transparent;
}

calendar day:today:hot
{
	background-color:#ffffff;
	border-color:#ccddee;
}


calendar day:hot:pressed
{
	background-color:#ffffff;
	border-color:#ccddee;
}

calendar day:filler
{
	color:#777777;
}

calendar day:filler:hot
{
	border-color:#eeeeee;
}

calendar day:selected
{
	border-color:#006fff;
}

calendar day:selected:hot
{
}

calendar prev_month
{
	background-color:transparent;
	width:20px;
	/*margin-left:5;*/
	height:23px;
	background-image:url('res:CalendarPrevMonth');
	bg-image-sizing:left; 
}

calendar prev_month:hot
{
	background-image:url('res:CalendarPrevMonthHot');
}

calendar next_month
{
	background-color:transparent;
	width:20px;
	height:23px;
	background-image:url('res:CalendarNextMonth');
	/*margin-right:4;*/
	bg-image-sizing:right; 
}

calendar next_month:hot
{
	background-image:url('res:CalendarNextMonthHot');
}

calendar month_year
{
	background-color:transparent;
	color:black;
	border-color:#555555;
}

calendar month_year:hot
{
	color:#006fff;
}
