#include "resource.h"

IDI_APPICON ICON "Resources/Icons/carambola.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080004b0"
        BEGIN
            VALUE "FileDescription", "Carambola Chat"
            VALUE "FileVersion", "1, 0, 0, 1"
            VALUE "InternalName", "CarambolaChat"
            VALUE "LegalCopyright", "Copyright (C) 2010 The ClanLib Team"
            VALUE "OriginalFilename", "CarambolaChat.exe"
            VALUE "ProductName", "Carambola Chat"
            VALUE "ProductVersion", "1, 0, 0, 1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x800, 1200
    END
END
