@import "../../../Resources/GUIThemeLuna/theme.css";

window
{
	bg-color: #e0dfe3;
	text-decoration: underline;
}

label.yellow:normal
{
	bg-color: #fff000;
	text-color:blue;
	font-size:19;
	font-style: italic;
	font-weight: bold;
	text-decoration: underline;

	align: right;
	vertical-align: bottom;
}
